/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_90aaf7cd69cbd40a747fde5e4795e334.eot");
  src: url("./fontcustom_90aaf7cd69cbd40a747fde5e4795e334.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_90aaf7cd69cbd40a747fde5e4795e334.woff") format("woff"),
       url("./fontcustom_90aaf7cd69cbd40a747fde5e4795e334.ttf") format("truetype"),
       url("./fontcustom_90aaf7cd69cbd40a747fde5e4795e334.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_90aaf7cd69cbd40a747fde5e4795e334.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-alarm:before,
.icon-alarm-notification:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-arrow-trail:before,
.icon-arrow-up:before,
.icon-attchment:before,
.icon-battery-empty:before,
.icon-battery-full:before,
.icon-building:before,
.icon-capacity:before,
.icon-cb-close:before,
.icon-cb-open:before,
.icon-clean:before,
.icon-close:before,
.icon-cloud:before,
.icon-column-fold:before,
.icon-current:before,
.icon-customer:before,
.icon-delete:before,
.icon-device:before,
.icon-device-box:before,
.icon-dimension-node:before,
.icon-dust-concentration:before,
.icon-energy-consumption:before,
.icon-export:before,
.icon-filter:before,
.icon-hierarchy-fold:before,
.icon-hierarchy-unfold:before,
.icon-humudity:before,
.icon-image:before,
.icon-import:before,
.icon-info:before,
.icon-info-box:before,
.icon-language:before,
.icon-level:before,
.icon-location:before,
.icon-log:before,
.icon-mainline:before,
.icon-map:before,
.icon-mark:before,
.icon-menu:before,
.icon-model:before,
.icon-orgnization:before,
.icon-panel:before,
.icon-panel-box:before,
.icon-photo:before,
.icon-pole:before,
.icon-power:before,
.icon-qrcode:before,
.icon-quickview:before,
.icon-room:before,
.icon-scan:before,
.icon-search:before,
.icon-send:before,
.icon-setalarm:before,
.icon-setting:before,
.icon-site:before,
.icon-spring-compression:before,
.icon-spring-tension:before,
.icon-taglist-fold:before,
.icon-temperature:before,
.icon-user:before,
.icon-wear-rate:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f100"; }
.icon-alarm:before { content: "\f133"; }
.icon-alarm-notification:before { content: "\f101"; }
.icon-arrow-down:before { content: "\f102"; }
.icon-arrow-left:before { content: "\f103"; }
.icon-arrow-right:before { content: "\f104"; }
.icon-arrow-trail:before { content: "\f105"; }
.icon-arrow-up:before { content: "\f106"; }
.icon-attchment:before { content: "\f107"; }
.icon-battery-empty:before { content: "\f108"; }
.icon-battery-full:before { content: "\f109"; }
.icon-building:before { content: "\f10a"; }
.icon-capacity:before { content: "\f134"; }
.icon-cb-close:before { content: "\f10b"; }
.icon-cb-open:before { content: "\f10c"; }
.icon-clean:before { content: "\f10d"; }
.icon-close:before { content: "\f10e"; }
.icon-cloud:before { content: "\f10f"; }
.icon-column-fold:before { content: "\f110"; }
.icon-current:before { content: "\f135"; }
.icon-customer:before { content: "\f111"; }
.icon-delete:before { content: "\f112"; }
.icon-device:before { content: "\f113"; }
.icon-device-box:before { content: "\f114"; }
.icon-dimension-node:before { content: "\f115"; }
.icon-dust-concentration:before { content: "\f136"; }
.icon-energy-consumption:before { content: "\f116"; }
.icon-export:before { content: "\f117"; }
.icon-filter:before { content: "\f118"; }
.icon-hierarchy-fold:before { content: "\f119"; }
.icon-hierarchy-unfold:before { content: "\f11a"; }
.icon-humudity:before { content: "\f137"; }
.icon-image:before { content: "\f11b"; }
.icon-import:before { content: "\f11c"; }
.icon-info:before { content: "\f11d"; }
.icon-info-box:before { content: "\f11e"; }
.icon-language:before { content: "\f138"; }
.icon-level:before { content: "\f139"; }
.icon-location:before { content: "\f11f"; }
.icon-log:before { content: "\f13a"; }
.icon-mainline:before { content: "\f120"; }
.icon-map:before { content: "\f121"; }
.icon-mark:before { content: "\f122"; }
.icon-menu:before { content: "\f123"; }
.icon-model:before { content: "\f124"; }
.icon-orgnization:before { content: "\f125"; }
.icon-panel:before { content: "\f126"; }
.icon-panel-box:before { content: "\f127"; }
.icon-photo:before { content: "\f128"; }
.icon-pole:before { content: "\f13b"; }
.icon-power:before { content: "\f129"; }
.icon-qrcode:before { content: "\f12a"; }
.icon-quickview:before { content: "\f13c"; }
.icon-room:before { content: "\f12b"; }
.icon-scan:before { content: "\f13d"; }
.icon-search:before { content: "\f12c"; }
.icon-send:before { content: "\f12d"; }
.icon-setalarm:before { content: "\f12e"; }
.icon-setting:before { content: "\f12f"; }
.icon-site:before { content: "\f130"; }
.icon-spring-compression:before { content: "\f13e"; }
.icon-spring-tension:before { content: "\f13f"; }
.icon-taglist-fold:before { content: "\f131"; }
.icon-temperature:before { content: "\f140"; }
.icon-user:before { content: "\f132"; }
.icon-wear-rate:before { content: "\f141"; }
