.jazz-alarm-grid-tr-item{
  padding: 5px 20px;
}
.jazz-alarm-grid-tr-item:hover{
  background-color:rgb(200, 194, 194);
}
.jazz-alarm-grid-tr-item-selected{
  background-color:rgb(161, 161, 161);
}
.jazz-alarm-grid-tr-item-extended{
  background-color:rgb(181, 181, 181);
}
.jazz-alarm-grid-body{
  background-color:rgb(236, 236, 236);
  width:100%;
}
