.jazz-calendar-loading{
  display: flex;
  flex: 1;
}
.jazz-calendar-delete{
  max-width: 720px;
  word-wrap: break-word;
  word-break: break-all;
}
.jazz-calendar-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
}
.jazz-calendar-header{
  display: flex;
  padding-left: 30px;
  flex-direction: column;
  border-bottom: 1px solid #ececec;
  flex:none;
  .jazz-calendar-title{
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    .pop-viewable-value{
      >span{
        font-size: 22px!important;
        max-width: 430px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

  }
}
.jazz-calendar-content{
  background-color: #fbfbfb;
  padding-left: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  .jazz-calendar-text{
    padding: 25px 0px 10px 0px;
    font-size: 14px;
    color: #464949;
  }
  .jazz-calendar-add{
    padding: 0px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 0px;
    .jazz-calendar-add-text{
      font-size: 14px;
      color: #767a7a;
    }
    .jazz-calendar-add-button{
      margin-top: -8px;
      color: #767a7a !important;
      font-size: 14px !important;
      > button{
      border: none !important;
      background-color: transparent!important;
      &:hover{
        color:@schneiderBlue!important;
        background-color: '#e1fcff'!important;
      }
     }
   }
  }
}
.jazz-hierarchy-calendar-type{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 20px;
  &-add{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    &-text{
      font-size: 14px;
      width: 80px;
    }
    > button{
      border: none !important;
      background-color: transparent!important;
      &:hover{
        color:@schneiderBlue!important;
        background-color: '#e1fcff'!important;
      }
    }
  }
  &-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    background-color: #f4f4f4;
    width: 520px;
    padding-left: 10px;
    &-error{
      font-size: 12px;
      color: #f44336;
    }
    &-time, &-name, &-worktime-item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 10px;
      > button{
       border: none !important;
       background-color: transparent!important;
       &:hover{
         color:@schneiderBlue!important;
         background-color: '#e1fcff'!important;
       }
      }
    }
    &-name{
      .pop-viewable-value{
        max-width: 300px !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
      }
    }
    &-worktime{
      display: flex;
      flex-direction: column;
      margin: 10px 0px;
      &-checkbox{
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
  }
}
.jazz-hierarchy-calendar-detail{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  &-item{
    font-size: 14px;
    margin-bottom: 20px;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
  }
}


.calendar{

	@dateItemWidth: 34px;
	@dateItemHeight: 34px;
	@toolbarHeight: 42px;
	@itemHMargin:2px;
	@itemVMargin:1px;
	@itemBoxHPadding:17px;
	@itemBoxVPadding:7px;
	@calendarHoverColor:#b9ebda;

	width: (@dateItemWidth + @itemHMargin*2) * 7 + @itemBoxHPadding*2;
	box-shadow: 0 2px 9px rgba(0,0,0,0.1), 0 2px 9px rgba(0,0,0,0.1);
	user-select:none;
	background-color:#fff;
	.calendar-toolbar{

		text-align: center;
		position: relative;
		height: @toolbarHeight;
		background-color: @primaryColor;
		line-height: @toolbarHeight;
		color: #fff;
		font-size: 14px;

		.pre-year{
			position: absolute;
			left:30px;
			font-size: 12px;
			cursor:pointer;
		}

		.next-year{
			position: absolute;
			right:30px;
			font-size: 12px;
			cursor:pointer;
		}

		.next-month{
			position: absolute;
			right:52px;
			font-size: 12px;
			cursor:pointer;
		}

		.pre-month{
			position: absolute;
			left:52px;
			font-size: 12px;
			cursor:pointer;
		}

		.month-select{
			margin-left:10px;

			&.active{
				cursor:pointer;
			}
			&.active:hover{
				text-decoration:underline;
			}
		}

		.year-select{
			&.active{
				cursor:pointer;
			}
			&.active:hover{
				text-decoration:underline;
			}
		}
	}

	.calendar-view{
		.selected{
			background-color: @primaryColor !important;
			color: #fff !important;
		}

		.today{
			color: @primaryColor;
		}

		.label-box{
			padding:@itemBoxVPadding @itemBoxHPadding 0;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			color: @primaryColor;
			font-size: 12px;
		}

		.label-item{
			margin:@itemVMargin @itemHMargin;
			// background-color: gray;
			line-height: @dateItemHeight;
			width: @dateItemWidth;
			height: @dateItemHeight;
			text-align: center;
			box-sizing: border-box;
		}

		.date-box{
			padding:0 @itemBoxHPadding @itemBoxVPadding;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			color:@schneiderBlack;
			font-size: 12px;
		}

		.date-item{
			margin:@itemVMargin @itemHMargin;
			// background-color: gray;
			line-height: @dateItemHeight;
			width: @dateItemWidth;
			height: @dateItemHeight;
			cursor: pointer;
			text-align: center;
			box-sizing: border-box;
			border-radius: @dateItemWidth/2;
			&:hover{
				background-color: @calendarHoverColor;
				color: #fff;
			}
			.date-number {
				flex: 0 0 auto;
				height: 80%;
				display: flex;
				justify-content: center;
			}
			.date-event {
				flex: 0 0 auto;
				height: 40%;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				visibility: hidden;
			}
			.has-event {
				visibility: visible;
			}
		}

		.generate-weekdays(0);
		.generate-weekdays(@i) when (@i =< 6) {
			.weekday-@{i} {
				margin-left: (@i * (@dateItemWidth + @itemHMargin*2) + @itemHMargin);
			}
			.generate-weekdays(@i + 1);
		}
	}

	.calendar-month-view{
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		padding: 9px 0;
		font-size: 12px;
		.month-item{
			text-align: center;
			line-height: 40px;
			width: 40px;
			height: 40px;
			margin:11px 30px;
			border-radius: 20px;
			cursor:pointer;
			&:hover{
				background-color: @calendarHoverColor;
				color: #fff;
			}
		}

		.selected{
			background-color: @primaryColor !important;
			color: #fff !important;
		}
	}

	.calendar-year-view{
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		// padding: 9px 0;
		font-size: 12px;
		height:266px;
		overflow-y:auto;
		overflow-x: hidden;
		.year-item{
			text-align: center;
			line-height: 40px;
			width: 40px;
			height: 40px;
			margin:5.5px 0 5.5px 130px;
			border-radius: 20px;
			cursor:pointer;

			&:hover{
				background-color: @calendarHoverColor;
				color: #fff;
			}
		}

		.selected{
			background-color: @primaryColor !important;
			color: #fff !important;
		}
	}
}
