.jazz-calendar-loading{
  display: flex;
  flex: 1;
}
.jazz-calendar-delete{
  max-width: 720px;
  word-wrap: break-word;
  word-break: break-all;
}
.jazz-calendar-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
}
.jazz-calendar-header{
  display: flex;
  padding-left: 30px;
  flex-direction: column;
  border-bottom: 1px solid #ececec;
  flex:none;
  .jazz-calendar-title{
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    .pop-viewable-value{
      >span{
        font-size: 22px!important;
        max-width: 430px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

  }
}
.jazz-calendar-content{
  background-color: #fbfbfb;
  padding-left: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  .jazz-calendar-text{
    padding: 25px 0px 10px 0px;
    font-size: 14px;
    color: #464949;
  }
  .jazz-calendar-add{
    padding: 0px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 0px;
    .jazz-calendar-add-text{
      font-size: 14px;
      color: #767a7a;
    }
    .jazz-calendar-add-button{
      margin-top: -8px;
      color: #767a7a !important;
      font-size: 14px !important;
      > button{
      border: none !important;
      background-color: transparent!important;
      &:hover{
        color:@schneiderBlue!important;
        background-color: '#e1fcff'!important;
      }
     }
   }
  }
}
.jazz-hierarchy-calendar-type{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 20px;
  &-add{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    &-text{
      font-size: 14px;
      width: 80px;
    }
    > button{
      border: none !important;
      background-color: transparent!important;
      &:hover{
        color:@schneiderBlue!important;
        background-color: '#e1fcff'!important;
      }
    }
  }
  &-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    background-color: #f4f4f4;
    width: 520px;
    padding-left: 10px;
    &-error{
      font-size: 12px;
      color: #f44336;
    }
    &-time, &-name, &-worktime-item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin: 10px 0px;
      > button{
       border: none !important;
       background-color: transparent!important;
       &:hover{
         color:@schneiderBlue!important;
         background-color: '#e1fcff'!important;
       }
      }
    }
    &-name{
      .pop-viewable-value{
        max-width: 300px !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
      }
    }
    &-worktime{
      display: flex;
      flex-direction: column;
      margin: 10px 0px;
      &-checkbox{
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
  }
}
.jazz-hierarchy-calendar-detail{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  &-item{
    font-size: 14px;
    margin-bottom: 20px;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
  }
}
