.jazz-carbon{
  &-factorItem{
    margin-top:25px;
    margin-left:-10px;
  }
  &-addItem{
    font-size: 14px;
    color:#767a7a;
    display: flex;
    flex-direction: row;
    .isView{
      color:#abafae !important
    }
    &-addBtn{
      margin-left:50px;
      cursor: pointer;
    }
    .inactive{
      display: none;
    }
    &-errorText{
    font-size: 12px;
    color:#f44336;
    margin-top:10px;
    }
  }
}
