.jazz-copytemplate-treeselect{
  width:390px;
  border-bottom: 1px solid #e4e7e6;
  cursor: pointer;
  margin-top:8px;
  .icon{
    float:right;
    font-size: 14px
  }
}
.jazz-copytemplate-dialog{
    >div:nth-child(1){
        >div:nth-child(1){
          >div:nth-child(1){
            >div:nth-child(1){
              >div:nth-child(2){
                margin-left:26px
              }
              >div:nth-child(3){
                  text-align: left !important;
                  margin-left:40px;
                  padding-bottom:24px !important;
                >button:nth-child(1){
                  border:1px solid #e4e7e6 !important;
                  font-size:14px !important;
                  &:hover{
                    color:#1ca8dd !important;
                    background-color:transparent !important;
                  }
                }
                >button:nth-child(2){
                  border:1px solid #e4e7e6 !important;
                  font-size:14px !important;
                  margin-left:10px !important;
                  &:hover{
                    color:#1ca8dd !important;
                    background-color:transparent !important;
                  }
                }
              }
            }
          }
        }
      }
    }
