.viewable-energy-label{
  display: flex;
  width:438px;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding:5px 0;
  justify-content: space-between;
  color: rgb(118, 122, 122);
  &:hover{
    cursor: pointer;
  }
  .list{
    display: flex;
    flex-flow: row wrap;
  }
}
.diagnose-label-list{
  width:21%;
  height:100%;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
  .label-group{
    border-bottom: 1px solid #ffffff;
    .item{
      height:41px;
      min-height: 41px;
      color:#ffffff;
      padding:0 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .side{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .addBtn{
        display: none;
      }
      &.selected {
        background-color: #0CAD04 !important;
      }
      &:hover {
        background-color: #0CAD04 !important;
        color:#d9d9da !important;
        .addBtn{
            display: block;
          }
      }
      .text{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .canSelect{
      &:hover{
        cursor: pointer;
      }
    }
  }

}
.diagnose-panel{
  display: flex;
  flex:1
}

.diagonse-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(~'100% - 40px * 2');
  background-color: #f4f4f4;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;

  &-header {
    flex: none;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.diagonse-create-stepper {
  margin-top: 20px;
  height: 48px;
  background-color: #fff;
}
.diagonse-create-section {
  margin-top: 20px;
}
.diagonse-create-footer {
  margin-top: 20px;
}