.viewable-energy-label{
  display: flex;
  width:438px;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding:5px 0;
  justify-content: space-between;
  color: rgb(118, 122, 122);
  &:hover{
    cursor: pointer;
  }
  .list{
    display: flex;
    flex-flow: row wrap;
  }
}
.diagnose-label-list{
  width:21%;
  height:100%;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
  .label-group{
    border-bottom: 1px solid #ffffff;
    .item{
      height:41px;
      min-height: 41px;
      color:#ffffff;
      padding:0 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .side{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .addBtn{
        display: none;
      }
      &.selected {
        background-color: #0CAD04 !important;
      }
      &:hover {
        background-color: #174321 !important;
        color:#d9d9da !important;
        .addBtn{
            display: block;
          }
      }
      .text{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .canSelect{
      &:hover{
        cursor: pointer;
      }
    }
  }
}
.diagnose-tab{
  font-size: 16px !important;
  .bubble-icon{
    border: none !important;
    height:7px !important;
    width: 7px !important;
    margin-left:40px;
    margin-bottom: 0 !important;
  }
  >div>div{
    height:55px !important
  }
}
.diagnose-panel{
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  padding:0 12px 17px 12px;
  margin-top:-16px;
  background-color: #ffffff;
  .content{
    flex:1;
    display: flex;
    width: 100%
  }
  .titleTabs{
    display: flex;
    height:49px;
    align-items: center;
    .tab{
      font-size: 16px;
      width: 74px;
      text-align: center;
      &:hover{
        cursor: pointer;
      }
    }
    .selected{
      color:#0CAD04;
      border-bottom: 1px solid #0CAD04;
    }
  }
  .detail-content{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    .content{
      flex:1;
      display: flex;
      flex-direction: column;
      &-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .side{
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        .text{
          color:#202622;
          font-size: 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      &-chart{
        flex:1;
        display: flex;
      }
    }
  }

}
.diagnose-create-title {  
  flex: none;
  padding-left: 15px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 15px;
  font-weight: bold;
  color: #1b1f2c;
  height: 50px;
  line-height: 50px;
}
.diagnose-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(~'100% - 12px * 2');
  background-color: #edeff3;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 12px;
  overflow-x: hidden;
  overflow-y: auto;

  &-header {
    flex: none;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #1b1f2c;
  }

  & .pop-viewableTextField .pop-viewable-title  {
    color: #202622;
  }
}

.diagnose-create-stepper {
  margin-top: 14px;
  height: 50px;
  background-color: #fff;
  border: solid 1px #d7d7d7;
  border-radius: 2px;
  flex: none;
}
.diagnose-create-section {
  margin-top: 20px;
}
.diagnose-create-footer {
  margin-top: 20px;
  margin-bottom: 40px;
  flex: none;
}
.diagnose-create-tag-list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: solid 1px #d7d7d7;
  border-radius: 2px;
  width: 21%;
  flex: none;

  &-title {
  }
  &-content {
    flex: 1;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  &-item {
    padding: 12px 10px;
    position: relative;
  }
}

.diagnose-create-content {
  margin-top: 10px;
  & .datepicker-popup {
    position: absolute;
    z-index: 1;
  }

  & .diagnose-date-picker {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    border: solid 1px #e3e3e3;
    position: relative;

    & .jazz-month-picker-noempty {
      position: absolute !important;
      height: 100% !important;
      padding-left: 5px;

      &>div {
        display: none;
      }
    }
  }
}

.diagnose-create-checkbox-label {
  position: absolute;
  top: 0px;
  left: 40px;
  padding: 14px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  width: calc(~'100% - 50px');
  color: #1b1f2c;

  &-name {

  }
  &-tip {
    font-size: 12px;
    width: 38px;
    height: 19px;
    border-radius: 2px;
    border: solid 1px #ff4b00;
    color: #ff4b00;
    line-height: 19px;
    text-align: center;
    margin-left: 5px;
    padding: 0 2px;
    flex: none;
  }
}
.diagnose-create-chart-preview {
  background-color: #fff;
  border: solid 1px #d7d7d7;
  border-radius: 2px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 78%;
  flex: none;
}
.diagnose-create-chart-action {
  display: flex;
  flex: none;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
.diagnose-create-chart-filter {
  display: flex;
}
.diagnose-range {
  margin-top: 10px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #d7d7d7;
  &-content {
    padding: 20px;
    display: flex;
  }
  &-time {
    margin-left: 80px;
    margin-top: -14px;

    &-content {
      display: flex;
      flex-wrap: wrap;
      &>div:not(:first-of-type) {
        margin-left:40px
      }
    }
  }
}

.diagnose-create-step {
  display: flex;
  justify-content: space-between;
  height: 463px;
  flex: none;
}

.diagnose-condition {
  background-color: #fff;
  border: solid 1px #d7d7d7;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  width: 21%;
  flex: none;

  &-subtitle {
    color: #202622;    
  }
  &-radio-group {
    margin-top: 15px;
    &>div {
      margin-bottom: 15px;
    }
  }

  &-content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 15px;
  }

  &-run-time {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 15px;
    color: #202622;
  }

  &-model-a {
    margin-top: 15px;
  }

  &-model-b-item {
    margin-top: 15px;
    border-bottom: 1px solid #d7d7d7;
  }
}

.diagnose-create-chart {
  margin: 20px;
  margin-top: 0px;
  display: flex;
  flex: 1;
}

.diagnose-create-chart-preview-step2 {
  background-color: #fff;
  border: solid 1px #d7d7d7;
  border-radius: 2px;
  width: 78%;
  flex: none;
  display: flex;
  flex-direction: column;
}

.diagnose-create-names {
  background-color: #fff;
  border: solid 1px #d7d7d7;
  border-radius: 2px;  
}
