.dialog-scroll {
	overflow-y: auto;
	overflow-x: hidden;
}

.dialog-content{
	h3{
		padding-right: 50px !important;
		word-wrap: break-word;
	}
}

.dialog-close-icon {
    .pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 24px;

    &:hover {
        color: @schneiderBlack;
    }
}
