.btn-container {
  span {
    font-size: 14px !important;
    opacity: opacity;
  }
  .btn-icon {
    color: rgba(255, 255, 255, 0.298039) !important;
    margin-right: 8px;
  }
  .btn-text {
    color: rgba(255, 255, 255, 0.298039) !important;
  }
}

.btn-container-active {
  .btn-icon {
    color: #ffffff !important;
  }
  .btn-text {
    color: #ffffff !important;
  }
  &:hover {
    .btn-icon {
      color: @textWhiteHover !important;
    }
    .btn-text {
      color: @textWhiteHover !important;
    }
  }
}

.menu_item {
  &:hover {
    background-color: @schneiderBlue !important;
  }
}
