.jazz-effect{
  &-overlay{
    display: flex;
    flex:1;
    width: 100%;
    overflow-y: auto;
  }
  &-list{
    display: flex;
    flex-direction: column;
    min-width: 1024px;
    max-width: 1440px;
    width: 75%;
    margin:0 auto;
    padding-top:10px;
    &-header{
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: space-between;
      >div:first-child{
        display: flex;
        flex-direction: row;
        align-items:center;
      }
      .draft-btn{
        font-size: 14px;
        color: #32ad3d;
        &:hover{
          cursor: pointer;
          color: #3DCD58;
        }
      }
      .draft-btn-disabled{
        font-size: 14px;
        color: @light-gray
      }

    }
    &-title{
      font-size: 16px;
      font-weight: 500;
      color: #000000;
    }
    &-content{
      display: flex;
      flex-direction: column;
      flex:1;
      .active{
        .jazz-effect-item{
          &:hover{
            cursor: pointer;
            box-shadow: 0 0 9px 1px #e0e0e0;
          }
        }
        .selected{
          background-color: #f1fcf3;
        }
      }
      >div:last-child{
        margin-bottom: 20px;
      }
    }
    &-rateTip{
      width: 100%;
      height: 35px;
      line-height: 35px;
      border-radius: 2px;
      background-color: #fff1c8;
      font-size: 14px;
      text-align: center;
      color: #ff4548;
      vertical-align: middle;
      margin:0 0 18px 0;
    }
  }
  &-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px @border;
    padding:18px 20px 18px 15px;
    margin-top:15px;
    min-height: 80px;
    box-sizing: border-box;
    align-items: center;
    &-info{
      display: flex;
      flex-direction: column;
      flex:1;
      &-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        >.isPreferred{
          width:20px
        }
        >.name{
          font-size: 14px;
          font-weight: 500;
          color: @slate-grey;
          margin-right: 10px;
        }
      }
      &-subTitle{
        flex:1;
        display: flex;
        flex-direction: row;
        color:@medium-gray;
        margin-left: 20px;
        font-size: 14px;
        margin-top: 4px;
        >span{
          flex:1;
          display: flex;
          flex-direction: row;
          margin-left: 15px;
          align-items:center;
        }
        >span:first-child{
          margin-left: 0px;
          >span{
            margin-right:8px;
          }
        }
      }
    }
    &-action{
      margin-left: 15px;
      font-size: 14px;
      font-weight: 500;
      color: #32ad3d;
      &:hover{
        cursor: pointer;
        color: #3DCD58;
      }
    }
    &-cost{
      >span:first-child{
        font-size: 14px;
        color: @medium-gray;
      }
      >span:last-child{
        font-size: 16px;
        color: #000000;
      }
    }
    &-draft{
      display: flex;
      flex-direction: row;
      // justify-content: space-between;
      min-height: 80px;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px @border;
      margin-top:15px;
      padding:15px 0 15px 35px;
      box-sizing: border-box;
      align-items: center;
      &-title{
        flex:1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &-tag{
          font-size: 14px;
          font-weight: 500;
          color: #626469;
          color: @slate-grey;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &-problem{
          font-size: 14px;
          color: @medium-gray;
          margin-top: 4px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      &-action{
        margin-left: 16px;
        >span{
          font-size: 14px;
          font-weight: 500;
          color: #32ad3d;
          margin-right: 20px;
          &:hover{
            cursor: pointer;
            color:#3DCD58
          }
        }
      }
    }
  }
}
.icon-calculating{
  width: 58px;
  height: 18px;
  border: solid 1px #32ad3d;
  line-height: 18px;
  color:#32ad3d;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  >div:last-child{
    line-height: 10px;
    margin-top: 1px;
  }

}
.icon-calculated{
  width: 70px;
  height: 18px;
  background-color: #32ad3d;
  border: solid 1px #32ad3d;
  line-height: 18px;
  color:#ffffff;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  >div:last-child{
    line-height: 10px;
    margin-top: 1px;
  }
}

.jazz-rate_config{
  &-tabs{
    display: flex;
    flex-direction: row;
    margin:10px 0;
    >span{
      width: 80px;
      height: 23px;
      line-height: 23px;
      border-radius: 2px;
      border: solid 1px @medium-gray;
      color: @medium-gray;
      font-size: 12px;
      text-align: center;
      vertical-align: middle;
      &:hover{
        cursor: pointer;
      }
    }
    >span:last-child{
      margin-left: -1px;
    }
    .selected{
      border-radius: 2px;
      background-color: #32ad3d;
      border: solid 1px #32ad3d;
    }
  }
  &-list{
    &-item{
      line-height: 21px;
      height: 21px;
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
      >span{
        flex:1
      }
      .name{
        font-size: 14px;
        color: @slate-grey;
      }
      .tagshow{
        display: flex;
        flex-direction: row;
      }
      .operation{
        font-size: 14px;
        font-weight: 500;
        color: #32ad3d;
        &:hover{
          cursor: pointer;
          color:#3DCD58
        }
      }
    }
  }
}
.nolist-font{
  font-size: 14px;
  color: #505559;
}
.jazz-effect-detail{
  display: flex;
  flex-direction: column;
  flex:1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  &-header-container{
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid @border;
  }
  &-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    min-width: 1024px;
    max-width: 1440px;
    width: calc(~'75% + 30px');
    >span{
      display: flex;
      flex-direction: row;
      align-items:center;
    }
    &-title{
      margin-left: 20px;
      font-size: 17px;
      font-weight: 500;
      color: #000000;
      line-height:24px;
    }
    &-subtitle{
      display: flex;
      flex-direction: column;
      min-width: 1024px;
      max-width: 1440px;
      width: 75%;
      margin:0 auto;
      padding:15px 0;
      border-bottom: 1px solid @border;
      .font{
        font-size: 14px;
        color: #434343;
      }
      .operation{
        font-size: 14px;
        font-weight: 500;
        color: #32ad3d;
        &:hover{
          cursor: pointer;
          color:#3DCD58
        }
      }
      &-energysys{
        display: flex;
        flex-direction: row;
      }
      &-info{
        >span{
          display: flex;
          flex-direction: row;
          align-items: flex-end;
        }
      }
    }
  }
  &-content{
    min-width: 1024px;
    max-width: 1440px;
    width: 75%;
    margin: 0 auto;
    &-header{
      display: flex;
      flex-direction: flex;
      justify-content: space-between;
      align-items: center;
      padding:17px 0;
      &-title{
        font-size: 17px;
        font-weight: 500;
        color: #000000;
      }
      &-operation{
        display: flex;
      }
    }
    &-save-energy{
      display: flex;
      flex-direction: row;
      height:104px;
      min-height: 104px;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px @border;
      align-items: center;
      justify-content: space-around;
      padding: 0 36px 0 70px;
    }
  }
}
