.jazz-carbon-detail-header-name{
  display: flex;
    align-items: flex-end;
    width: 100%;
    font-size: 16px;
    color: #464949;
    flex-direction: row;
    .isAdd{
      margin-bottom: 10px;
    }
}
