.jazz-energy-gridcomponent-wrap{
  flex:1;
  display: flex;
  overflow:hidden;
  margin: 27px 20px;
  .mui-table-wrapper{
    flex:1;
    display: flex;
    flex-direction:column;
    .mui-body-table{
      .mui-table{
        background-color: #f2f2f2 !important;
      }
      flex:1;
      td{
        height:38px !important;
        font-size: 14px !important;
      }
    }
  }
}
