.jazz-energy-gridcomponent-wrap{
  flex:1;
  display: flex;
  flex-direction:column;
  overflow:hidden;
  margin: 27px 20px;
  .mui-table-wrapper{
    flex:1;
    display: flex;
    flex-direction:column;
    .mui-header-table{
      background-color: #f2f2f2 !important;
      border-top: 1px solid #e0e0e0 !important;
      .mui-table{
        background-color: #f2f2f2 !important;
        th{
          padding-left: 0px !important;
          padding-right: 0px !important;
        }
        .mui-table-header-column{
          font-size: 14px !important;
          color: #767a7a !important;
        }
      }
      .jazz-energy-gridcomponent-header-item{
        height: 40px;
        line-height:40px;
        border-bottom: 1px solid #e0e0e0;
        padding-left: 5px;
      }
    }
    .mui-body-table{
      .mui-table{
        background-color: #f2f2f2 !important;
      }
      flex:1;
      td{
        height:38px !important;
        font-size: 14px !important;
        color: #767a7a !important;
      }
    }
  }
}
.jazz-energy-panel{
  flex:1;
  display:flex;
  flex-direction:column;
  background-color:#fbfbfb;
  .header{
    height:108px;
    min-height:108px;
    background-color:#ffffff;
    border-bottom: 1px solid #e0e0e0;
    .description{
      margin-left:30px;
      height:14px;
      font-size:14px;
      color:#abafae;
      margin-top: 9px;
    }
    .title{
      .content{
        display: inline-block;
        font-size: 22px;
        color:#464949;
        max-width: 282px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
