.jazz-folder-leftpanel{
  display: flex
}
.jazz-folder-leftpanel-container{
   display: flex;
   flex-direction: column;
   width:320px;
    }
.jazz-folder-leftpanel-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height:32px;
  height:32px;
  background-color: #86ccff;
    .newfolder{
      //add later
    }
    .newwidget{
      //add later
    }

    }
.jazz-folder-leftpanel-search{
  min-height:46px;
  height:46px;
  border-bottom: 1px solid #434d5e;
  background-color: rgb(53, 64, 82);
}

.jazz-folder-leftpanel-searchbox{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  width:284px;
  height:26px;
  border:1px solid #434d5e;
  margin:10px 18px;
  .input{
    >input{
      color:#ffffff !important;
      font-size: 14px !important
    }
    >hr{
      border-bottom-color:transparent !important;
    }
  }
}

.jazz-folder-leftpanel-searchpaper{
  width:300px;
  height: 390px;
  overflow: auto
}

.jazz-folder-leftpanel-foldertree{
 overflow: auto;
 flex:1;
 background-color: rgb(53, 64, 82);
 margin-left:-16px;
}
.jazz-folder-alluser-useritem{
  min-height:32px;
  display: flex;
  flex-direction: row;
  align-items:center;
  &:hover{
    background-color: #f4f4f4;
  }
  .name{
    width:125px;
    font-size:14px;
    color:#464949;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .type{
    width:90px;
    font-size:14px;
    color:#464949;
    margin-left:10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.jazz-folder-allusers{
  height:357px;
  width:311px;
  border:1px solid #e4e7e6;
  margin-top:10px;
  display: flex;
  flex-direction: column;
  .allcheck{
    min-height:36px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row
  }
  .content{
    flex:1;
    overflow:auto
  }
  .name{
    width:125px
  }
  .positon{
    width:90px
  }
}
.jazz-folder-selectedusers{
  height:357px;
  width:311px;
  border:1px solid #e4e7e6;
  margin-top:10px;
  display: flex;
  flex-direction: column;
  .title{
    min-height:36px;
    background-color: #f4f4f4;
    font-size:14px;
    color:#abafae;
    display: flex;
    flex-direction: row;
    align-items:center;
    padding-left:10px;
    .name{
      width:125px;
    }
    .positon{
      width:90px
    }
  }
  .content{
    flex:1;
    overflow:auto
  }

}
.jazz-folder-selectedusers-useritem{
  min-height:32px;
  display: flex;
  flex-direction: row;
  align-items:center;
  padding-left:10px;
  &:hover{
    background-color: #f4f4f4;
  }
&.selected{
    display: block
  }
  &.noselected{
    display: none
  }
  .name{
    font-size:14px;
    color:#464949;
    width:125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .type{
    font-size:14px;
    color:#464949;
    margin-left:10px;
    width:90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.jazz-folder-user{
  display: flex;
  flex-direction: row;
  align-items:center;
  .usericon{
    font-size:22px;
    margin-left:12px;
    margin-right:12px;
  }
}
.jazz-folder-detail{
  flex:1;
  display:flex;
   position: relative;
  flex-direction:column;
  background-color:#fbfbfb;
 margin-top:-16px;
  .header{
    height:108px;
    min-height:108px;
    background-color:#ffffff;
    .title{
      padding-left: 30px;
      margin-top:15px;
      display: flex;
      flex-direction: row;
      cursor: pointer;
      //margin-top:-20px;
      .name{
        font-size: 22px;
        color:#464949;
        max-width: 950px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .icon{
        margin-top:-9px
      }
    }
    .subtitle{
      margin-top:14px;
      padding-left: 25px;
      font-size: 14px;
      color:#abafae;
      height: 2px;
    }
  }
  .content{
    flex:1;
    background-color:#fbfbfb;
    border-top: 1px solid #ececec;
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    padding:23px 28px;
    align-content:flex-start;
  }

}
.jazz-folder-detail-item{
  height:160px;
  width:240px;
  background-color: #ffffff;
  border:1px solid #ececec;
  margin:2px;
  .icon{
    height:103px;
    border-bottom: 1px solid #ececec;
    cursor: pointer;
  }
  .title{
    margin-left:10px;
    margin-top:8px;
    display: flex;
    cursor: pointer;
    .name{
      font-size: 16px;
      color:#464949;
      width: 198px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .select{
      margin-top:-12px;
      margin-right:-2px;
    }
  }
  .subtitle{
    margin-top:-12px;
    font-size: 12px;
    color:#abafae;
    margin-left:10px;
  }
}
.jazz-foldertree-arrow{
  color:#ffffff
}
.jazz-foldertree-node{
  background-color: rgb(53, 64, 82) !important;
  &.selected {
    background-color: #2d3645 !important;
  }
  &:hover {
    background-color: #2d3645 !important;
    color:#d9d9da !important;
  }
}
.jazz-checkboxtree-node{
  background-color: #ffffff !important;
  &.selected {
    background-color: #eaebec !important;
  }
}
.jazz-foldertree-node-textfield{
  >div{
    >input{
      color:#ffffff !important;
    }
    >hr{
      border-bottom:1px solid transparent !important
    }
  }

}
.jazz-icon-read{
  height:8px;
  width:8px;
  border-radius:4px;
  background-color: red;
}
.jazz-copy-tree{
  background-color: #ffffff !important;
  &.selected {
    background-color: #eaebec !important;
  }
  &:hover {
    background-color: #eaebec !important;
  }
}
