.buildingbasic-tag-item{
  width:220px;
  min-width: 220px;
  margin-right: 24px;
  .title{
    color: #abafae;
    font-size: 14px;
    padding-bottom: 5px;
  }
  .content{
    font-size: 16px;
    color:#464949
  }
}
.jazz-building-cost-showTou{
  font-size: 14px;
cursor: pointer;
margin-left: 80px;
color: #1ca8dd;
}
.jazz-building-cost-tou-item{
  display: flex;
  flex-direction: row;
  margin-top:15px
}
.powerfactor{
	text-align:center;
	border:1px solid #d4d4d4;
	border-collapse: collapse;
	width:100%;
	td,th{
	border:1px solid #d4d4d4;
	text-align:center;
	}
	tr{
		height:30px;
		line-height:30px;
	}
	.first-head{
		background-color:#f6f6f6;
	}
	tr.second-head{
		height:60px;
		line-height:30px;
	}
}
.jazz-building-cost-usagecost{
  width: 200px;
  .pop-viewableDropDownMenu.pop-viewableTextField{
    .pop-viewableDropDownMenu-ddm > div:nth-of-type(1) > div:nth-of-type(3) {
    max-width: 180px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
  }
    }
}
