@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(10px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.jazz-kpi-tag{
  display: flex;
  flex-direction: row;
  &-dimension{
    width:220px;
    height:360px;
    border:1px solid #e4e7e9;
    overflow:auto;
    .jazz-copy-tree{
        background-color: #ffffff !important;
        &.selected {
          background-color: #eaebec !important;
        }
        &:hover {
          background-color: #eaebec !important;
        }
        .content{
          overflow:visible !important;
        }
    }
  }
  &-tags{
    display: flex;
    flex-direction: column;
    width: 570px;
    height:360px;
    margin-left: 20px;
    border:1px solid #e4e7e9;
    &-header{
      background-color: #f2f2f2;
      height: 40px;
      width: 100%;
      border-bottom: 1px solid #e4e7e9;
      // td{
      //   padding:0 0 0 15px;
      // }
    }
    &-body {
      flex:1;
      display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    tr{
      height:40px;
      border-bottom: 1px solid #e4e7e9;
      &:hover{
        background-color: #eaebec;
        cursor: pointer;
      }
      &.selected{
        background-color: #f2f2f2
      }
      // td{
      //   padding:0 0 0 15px;
      // }
    }
    }
    .column1{
      box-sizing:border-box;
      line-height: 40px;
      width: 420px;
      //max-width: 420px;
      .hiddenEllipsis();
    }
    .column2{
      width: 70px;
      min-width: 70px;
    }
    .column3{
      width: 70px;
      min-width: 70px;
    }
  }
  &-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.jazz-kpi-config{
  &-wrap{
    flex:1;
    padding-top:30px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -16px !important;
    background-color: #ffffff;
    position: relative;
    .form-bottom .form-bottom-bar{
      left:170px !important;
    }
  }
}
.jazz-kpi-calc-month{
  margin-top: 30px;
  width: 1024px;
}
.jazz-kpi-save-rates{
  border-collapse: collapse;
    font-size: 14px;
    tr{
      border:1px solid #e4e7e9;
      td{
        width:150px;
        min-width:150px;
        border-left:1px solid #e4e7e9;
        height:39px;
        text-align: center;
        .tagName{
          .hiddenEllipsis();
          max-width: 120px;
        }
      }
      td:first-child{
        border-left:none;
        width:80px;
        min-width:80px;
      }
    }
    tr:last-child{
      border-top: none;
    }
}

.jazz-kpi-cycle {

  position: relative;
  margin-top: -16px;
  background-color: @textWhite;
  display: flex;
  flex: 1;
  flex-direction: column;

  & .header-bar {
    height: 72px;
    line-height: 72px;
    font-size: 20px;
    padding: 0 40px;
    border-bottom: 1px solid #ececec;
  }

  & .content {
    padding: 40px;
    flex: 1;
    background-color: @bgcGray;

    & .select-panel {
      margin-top: 20px;
    }

    & .result-panel {
      margin-top: 20px;

      &-value {
        font-size: 18px;
        margin-top: 5px;
      }
    }

    & .non-tip {
      color: @schneiderGray;
    }
  }

  & .form-bottom-bar {
    left: 0;
  }
}

.jazz-actuality {
  position: relative;
  margin-top: -16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;

  &-edit, &-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
		overflow-y: auto;
		display: flex
  }

  &-content {
    margin: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-item {
    // margin: 20px;

    &-title {
      display: inline-block;
      margin-right: 20px;
    }

    & .fa {
      font-size: 16px;
    }

    & .switch-year {
      height: 40px;
      align-items: center;
    }
  }
}
.jazz-report-actuality {
  display: flex;
  flex: 1;
  flex-direction: column;

  & .pop-viewableDropDownMenu {
    position: absolute;
    top: 0;
  }

  & .jazz-report-preview {
    margin: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.jazz-report-preview {
  position: relative;

  & .show-full-report {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
.jazz-report-chart {

  margin-top: 20px;
  position: relative;

  &-header {
    
    // IE滚动条位置
    .ie & {
      height: 50px;
    }

    height: 40px;
    display: flex;
    // align-items: center;
    position: absolute;
    width: calc(~'100% - 20px');
    background-color: #fff;
    border-bottom: 2px solid #9A9A9A;
    z-index: 1;
    overflow-x: auto;
    overflow-y: hidden;

    &>.tab {
      height: 24px;
      cursor: pointer;
      background-color: #fff;
      color: #000;
      border-radius: 4px;
      flex: none;
      padding: 5px 20px;

      max-width: 260px;
      .hiddenEllipsis;

      &.selected {
        background-color: #000;
        color: #fff;
      }
    }
  }

  &-table {

    &-wrapper {
      margin-right: 20px;
      border: 2px solid #9A9A9A;
      position: relative;

      &>iframe {
        border: 0;
      }
    }

    &-header {
    
      // IE滚动条位置
      .ie & {
        height: 40px;
        top: 50px;
      }

      position: absolute;
      z-index: 2;
      height: 50px;
      top: 40px;
      display: flex;
      width: calc(~'100% - 20px');
      background-color: #fff;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;

      &-action {
        display: flex;
        list-style: none;
        width: 220px;
        justify-content: space-between;
      }
    }

  }

  & .download-icon {
    width: 12px;
    height: 12px;
    background-color: #767a7a;
    display: inline-block;
  }
}
.jazz-kpi-actuality {
  display: flex;
  flex-direction: column;
  flex: 1;
  // min-height: 400px;
  position: relative;

  & .header-bar {
    display: flex;
    padding: 10px 40px;
    align-items: center;
  }

  & .content {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    // flex: 1;
    flex: 1 0 auto;
    overflow-y: auto;
    overflow-x: hidden;

    & .action-bar {
      display: flex;
      height: 40px;
      align-items: center;
      margin-bottom: 20px;
      flex: none;

      & .current-year {
        padding: 0 10px;
      }
    }
  }
}

.jazz-kpi-report {
  border: 1px solid #000;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  position: relative;

  &-chart {
    flex: 1;
  }

  &-summary {
    width: 300px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .summary {
      &-item {
        border: 1px solid #000;
        padding: 10px 20px;

        &.overproof {
          color: red;
        }
      }
      &-value {
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        &>span:first-of-type {
          font-size: 22px;
        }
        & span {
          margin-right: 10px;
        };
      }
    }
  }

  & .actuality-fractional-energy-saving-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .tooltip-arrow-down {
    // width: 7px;
    // height: 7px;
    // content: "";
    // border-left: 4px solid rgba(0, 0, 0, 0);
    // border-right: 4px solid rgba(0, 0, 0, 0);
    // border-top: 4px solid #000;
  }
  .highcharts-tooltip>span {
      background-color: rgba(249, 249, 249, 0.85098);
      opacity: 1;
      z-index: 9999 !important;
      border:1px solid green;
      padding: 5px;
      border-radius: 4px;
  }

}

.jazz-kpi-config-list {
  display: flex;
  flex-direction: column;
  ul, li {
    list-style: none;
  }
  .header-bar {
    height: 72px;
    line-height: 72px;
    font-size: 20px;
    padding: 0 40px;
    border-bottom: 1px solid @hoverGray;
  }
  .content {
    padding: 40px;
    flex: 1;
    background-color: #fbfbfb;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
  }

  & .year-item {
    margin-bottom: 40px;

    &-header {
      font-size: 18px;

      & .btn-icon {
        display: inline-block;
        margin-left: 40px;

        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
        transform: rotate(0deg);

        &.opened {
          transform: rotate(45deg);
        }
      }
    }
  }

  & .config-item {
    margin-top: 15px;
    border: 1px solid @hoverGray;
    padding: 20px;
    display: flex;

    &-summary {
      flex: 1;
      color: @schneiderGray;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}

.jazz-kpi-group-buildings{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 640px;
  border:1px solid #e4e7e9;
  &-header{
    background-color: #f2f2f2;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #e4e7e9;
    // td{
    //   padding:0 0 0 15px;
    // }
  }
  &-body {
    flex:1;
    display: flex;
    border-collapse: collapse;
  // overflow-y: auto;
  // overflow-x: hidden;
  tr{
    height:40px;
    border-bottom: 1px solid #e4e7e9;
    .column4{
      width: 120px;
      min-width: 120px;
      .active{
        &:hover{
          color:@schneiderBlack;
          cursor: pointer;
          color:@schneiderBlue
        }
      }
      color:@schneiderGray

    }
  }
  }
  .column1{
    box-sizing:border-box;
    line-height: 40px;
    width: 120px;
    //max-width: 420px;
    .hiddenEllipsis();
  }
  .column2{
    width: 200px;
    min-width: 200px;
  }
  .column3{
    width: 200px;
    min-width: 200px;
    .hiddenEllipsis();
  }
  .column4{
    width: 108px;
    min-width: 108px;
  }
}

.building-rank-number {
  & .self-number {
    font-size: 40px;
  }
}
.rank-flag {
  background: @schneiderGray;
  margin-left: 20px;
  padding: 0 2px;
}

.jazz-building-kpi-rank {

  width: 300px;
  float: left;
  border: 1px solid #000;
  /* display: flex; */
  height: calc(~'100% - 2px');
  position: absolute;
  /* flex-direction: column; */
  /* align-items: center; */
  text-align: center;

  &-wrapper {
    position: relative;
    margin-bottom: 20px;
  }

  &-header {
    width: 280px;
    margin-top: 30px;
  }

  &-content {
    margin-top: 40px;
    display: block;
  }

  &-time {
    margin-top: 10px;
  }

  & .building-rank-number {
    margin-top: 50px;
  }


  &-footer {
    margin-top: 100px;
    display:inline-block;
  }

  &-report {
    margin-left: 320px;
  }
}

.jazz-building-top-rank {
  margin-bottom: 20px;
  border: 1px #000 solid;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  &-his {
    display: inline-block;
    margin-top:5px;
  }

  &-total {
    display: flex;
    align-items: baseline;

    &-number {
      font-size: 40px;
      margin-right: 20px;
    }
  }

  & .top-rank-item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
}

.jazz-kpi-group-ranking {
  display: flex;
  flex-direction: column;
  .header-bar {
    height: 72px;
    line-height: 72px;
    font-size: 20px;
    padding: 0 40px;
    border-bottom: 1px solid @hoverGray;
  }
  .content {
    padding: 40px;
    flex: 1;
    background-color: #fbfbfb;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top:-16px;
  }
  .footer{
    padding: 40px;
    background-color: #fbfbfb;
  }
  &-block{
    padding-bottom: 30px;
    border-bottom: 1px solid @hoverGray;
  }
}
.noContent{
  margin-top: -16px;
  background-color: #ffffff;
  position: relative;
}
.jazz-kpi-group-config{
  flex:1;
  display: flex;
  flex-direction: row;
  .menu{
    background-color: #ffffff;
    margin-top:-16px;
  }
  >.content{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    animation:fadeInRight 0.5s 1;
    -webkit-animation:fadeInRight 0.5s 1;
  }
}
.jazz-kpi-rank-history{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 640px;
  height:360px;
  border:1px solid #e4e7e9;
  &-header{
    background-color: #f2f2f2;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #e4e7e9;
    display: flex;
    align-items: center;
    div{
      flex:1;
      padding-left: 10px;
    }
  }
  &-body {
    flex:1;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
  >div{
    height:40px;
    min-height: 40px;
    border-bottom: 1px solid #e4e7e9;
    display: flex;
    align-items: center;
    >span{
      flex:1;
      padding-left: 20px;
    }
		>span:first-of-type{
			flex:1;
			padding-left: 10px;
		}
  }
  }
}

.switch-action-bar {
  display: flex;

  & .icon-arrow-left, & .icon-arrow-right {
    display: inline-block;
  }

  & .current-label {
    margin-left: 7px;
    margin-right: 10px;
  }
}

.kpi-rank-chart {

  height: 475px;
  border: 1px solid #000;
  padding: 20px;
  padding-bottom: 0;
  position: relative;
  margin-top: 20px;

  &-title {
    font-size: 18px;
  }
  & .switch-month {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  & .switch-range {
    position: absolute;
    right: 20px;
    z-index: 1;
    background: #fff;
  }
}
.kpi-report{
	&-commnet{
		font-size: 14px;
		color:@schneiderGray;
	}
	&-info{
		>div{
			margin-bottom: 20px;
		}
		.templateMsg{
			margin-left: 10px;
			color:@schneiderGray;
			&:hover{
				color:@schneiderBlue;
				cursor: pointer;
			}
		}
	}
	&-add{
		padding: 15px 0px;
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		border-top: 1px solid #ececec;
		align-items: center;
		>div{
			padding-top: 5px;
		}
		&-text{
			font-size: 14px;
		}
		&-button{
			margin-left: 15px;
			> button{
			 border: none !important;
			 background-color: transparent!important;
			 &:hover{
				 color:@schneiderBlue!important;
				 background-color: '#e1fcff'!important;
			 }
			}
		}
	}
	&-data{
		display: flex;
		flex-direction: column;
		margin-left: -20px
	}
	&-footer{
		.form-bottom .form-bottom-bar{
			left:0 !important;
		}
	}
}
.jazz-kpi-report-btn{
		border: 1px solid rgb(171, 175, 174);
    font-size: 14px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
		&:hover{
			background-color: @schneiderBlueBackground;
			cursor: pointer;
		}
}
.jazz-kpi-tag-deleteBtn{
	&:hover{
		cursor: pointer;
	}
}
