.jazz-customer-label-loading{
  display: flex;
  flex: 1;
}
.jazz-customer-label-detail-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 45px;
  &-devide{
    border-top: 1px solid #e7e7e8;
    margin-top: 45px;
    padding-top: 5px;
  }
  &-item {
    padding-top: 50px;
    &:first-child {
      padding-top: 0;
    }
  }
}
.jazz-customer-label-devide{
  border-top: 1px solid #e7e7e8;
  margin-top: 45px;
  padding-top: 5px;
}
