.jazz-mail{
  height:100%;
  display: flex;
  flex-direction: column;
  .header{
    height:72px;
    display: flex;
    justify-content: center;
    align-items: center;
    .sendBtn{
      width:74%;
      >button{
         color:#767a7a !important;
        font-size: 14px;
        border:1px solid #ececec !important;
        background-color: transparent !important;
        &:hover{
          color:#1ca8dd !important;
          background-color:transparent !important;
        }
      }
    }
  }
  >.content{
    flex:1;

    border-top: 1px solid #ececec;
    background-color: #fbfbfb;
    .field{
      width:74%;
      justify-content: center;
      margin:0 auto;
      display: flex;
      flex-direction: row;
    }
  }
}
.jazz-mailfield{
  flex:1;
  display: flex;
  width:652px;
  min-width:652px;
  flex-direction: column;
  height:450px;
  margin-top:12px;
}
.jazz-mailfield-reciever{
  display: flex;
  flex-direction: row;
  min-height:30px;
  .recievertitle{
    margin-top:7px;
    color:#abafae;
    font-size: 14px;
    width:52px;
    min-width:52px;
  }
  .recievercontent{
    flex:1;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #ececec;
    background-color: #ffffff;
    width: 600px;
    padding: 2.5px 7.5px;
    max-height: 140px;
    min-height:23px;
    overflow: auto;

  }
}
.jazz-mailfield-recieveritem{
  border: 1px solid #ececec;
  display: flex;
  align-item:center;
  height:20px;
  margin: 2.5px;
  color:#464949;
  font-size: 14px;
}
.jazz-mailuser{
  margin-left:10px;
  width:360px;
  height:450px;
  border:1px solid #ececec;
  margin-top:12px;
  >div:nth-child(1){
    >div:nth-child(1){
      div{
        height:30px !important;
        color:#464949 !important;
        opacity:0.5
      }
    }
  }
}
.jazz-mailuserfield{
  height:420px;
  overflow: auto;
}
.jazz-mailfield-template{
  margin-top:12px;
  display: flex;
  flex-direction: row;
  min-height: 30px;
  .templatetitle{
    color:#abafae;
    font-size: 14px;
    width:52px;
    min-width:52px;
    margin-top:7px;
  }
}
.jazz-templatefield{
  flex:1;
  .title{
    border: 1px solid #ececec;
    background-color: #ffffff;
    min-height:28px;
    display: flex;
    align-items: center;
    .content{
      font-size: 14px;
      color:#464949;
      line-height: 20px;
      margin-left:10px;
      flex:1;
    }
  }
}
.jazz-platformuser-groupselect{
  color:#abafae;
  font-size: 14px;
  width:62px;
  display: none;
  margin-left: 10px;
  &:hover{
    color:#1ca8dd
  }

}
.jazz-platformuser-user{

    margin-left: 6px;
    font-size: 14px;
    color: #767a7a;
    max-width:140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.jazz-platformuser-position{

    margin-left: 6px;
    font-size: 14px;
    color: #767a7a;
    max-width:92px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.jazz-templateitem{
  color:#464949;
  font-size: 14px;
  height: 32px;
  min-width:100px;
  padding:2.5px 10px;
  display: flex;
  align-items:center;
  max-width:360px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
&:hover{
  background-color: #e6e7e8;
}
}
.jazz-mailfield-subject{
  display: flex;
  flex-direction: row;
  margin-top:12px;
  .subjecttitle{
    margin-top:7px;
    color:#abafae;
    font-size: 14px;
    width:52px;
    min-width:52px;
  }
}
.jazz-mailfield-content{
  display: flex;
  flex-direction: row;
  margin-top:12px;
  flex:1;
  .contenttitle{
    margin-top:7px;
    color:#abafae;
    font-size: 14px;
    width:52px;
    min-width:52px;
  }
  .contentcontent{
    flex:1;
    border: 1px solid #ececec;
    background-color: #ffffff;
    width: 600px;
    max-height: 240px;
    padding: 0 10px;
    overflow: auto;
    font-size: 14px;
    >div:nth-child(1){
      >div:nth-child(1){
        textarea{
           overflow:hidden !important;
        }
      }
    }
  }
}
.jazz-mailfield-newTemplate{
  margin-left:52px;
  margin-top:12px;
  min-height:24px;
}
.jazz-newTemplate{
  display: flex;
  >div:nth-child(2){
    hr{
      border-width:0px !important;
      border-color:transparent !important;
    }
  }
}
.jazz-mailfield-error{
  color:red;
  font-size: 10px;
  margin-left:54px;
}
