.jazz-mail{
  height:100%;
  display: flex;
  flex-direction: column;
  .header{
    height:50px;
  }
  .content{
    flex:1;
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;

  }
}
.jazz-mailfield{
  display: flex;
  width:200px;
  flex-direction: column;
}
.jazz-mailfield-reciever{
  margin:20px;
  display: flex;
  flex-direction: row;
  .title{

  }
  .content{
    overflow: auto;
    border:1px solid gray;
    max-height: 100px;
  }
}
.jazz-mailuser{
  margin:20px;
  border: 1px solid gray;
  width:350px;
  height:700px;
}
