/* material-ui */
//@import "../../../node_modules/material-ui/src/less/scaffolding.less";

@desktop-toolbar-height:48px;
//@flat-button-color: @transparent;
//@flat-button-color:transparent;
//@import "../../../node_modules/material-ui/src/less/components.less";

@import "fonts/fontcustom.css";
@import "../../../node_modules/react-grid-layout/css/styles.css";
@import "alarm.less";
@import "treeView.less";
@import "setting.less";
@import "pagingList.less";
@import "tagSelectPanel.less";
@import "file.less";

html,body{
    height: 100%;
}

body{
    overflow: hidden;
    margin: 0;
}

@mainBlueStart: rgb(70,184,255);
@mainBlueEnd: rgb(117,125,213);
@menuActive: rgb(75, 132, 196);
@searchBar:#e4fbf5;
@breadcrumb:#abafae;
@propValue:#464949;
@propTitle:#abafae;
@gray : gray;
@black : black;

ul{
    padding:0;
    margin:0;
}

.mui-menu-control-underline {
    border:0px !important;
}

.mui-text-field.mui-is-disabled .mui-text-field-underline:after {
  content: '';
  position: absolute;
  top: 23px;
  color: rgba(0, 0, 0, 0.3);
}

.mui-has-value .mui-text-field-underline{
    border:0;
}

.mui-text-field.mui-has-floating-labels{
    height:48px;
}
.mui-text-field-floating-label{
    top:0px !important;
}

.mui-text-field.mui-has-floating-labels .mui-text-field-input {
    padding-top:24px !important;
}

 .mui-text-field-floating-label {
  color:@propTitle;
}

.mui-text-field-floating-label {
  transform: scale(0.875) translate(0, -18px) !important;
}

.mui-text-field.mui-has-floating-labels .mui-text-field-input {
  padding-top: 30px;
}

.mui-text-field{
    height:auto !important;
}

.mui-text-field-underline,.mui-text-field-focus-underline{
    bottom:0 !important;
}

.mui-date-picker-date-display{
    display:none !important;
}

.mui-drop-down-menu .mui-menu-control .mui-menu-label{
    padding: 0 !important;
}

/**
 *  control level css start
 */
 .se-dropdownbutton{
     position: relative;
     &.mui-open .mui-menu{
         opacity:1;
     }
     .mui-menu{
         position: absolute;
         left:0;
         top:100%;
     }
     * {
         transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
     }
 }

/**
 *  control level css end
 */
#popapp{
    height:100%;
}

.pop-hide{
    display:none;
}

.jazz-app{
    //background-color: #DDD;

    font-family:LantingHei sc,Microsoft YaHei Light,Microsoft YaHei;
    margin:auto;
    height:100%;
    overflow: hidden;

}

.jazz-main{
  height:100%;
  display: flex;
  flex-direction: column;
}

.pop-login{
    width:600px;
    margin:auto;
    height:100%;
    padding-top:60px;
    text-align:center;
    //background:url(images/layout.png);
    .pop-login-error{
        color: red;
        height:20px;
        margin-bottom:6px;
    }
    li{
        list-style-type:none;
    }
    input {
        height:48px;
        line-height:1;
        font-size:18px;
        width:280px;
        margin-bottom:10px;
    }
    .mui-raised-button{
        width:280px;
    }

}


.jazz-mainmenu{
  background: -webkit-linear-gradient(left, @mainBlueStart, @mainBlueEnd); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, @mainBlueStart, @mainBlueEnd); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, @mainBlueStart, @mainBlueEnd); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, @mainBlueStart, @mainBlueEnd);

    width:100%;
    font-size:14px;
    .jazz-menu{
        // Old is 640px, add logout link
        width:680px;
        height:65px;
        margin:auto;
    }
    a {
        display:inline-block;
        line-height:65px;
        color: white;
        text-decoration:none;
        padding:0 22px;
        &:active{
            background-color:@menuActive
        }
        &.active{
            background-color:@menuActive
        }
    }
    span{
      display:inline-block;
      line-height:65px;
      color: grey;
      text-decoration:none;
      padding:0 22px;
    }
    .jazz-logo{
        position: absolute;

        margin-left:57px;
        margin-top: 12px;

        > img{
            height:42px;
            width:162px;
            cursor:pointer;
        }
        .jazz_logo_img{
          background-size: contain;
          height:42px;
          width:162px;
          background-repeat: no-repeat;
          background-position: center center;
          //background-image: url(/api/picture/img-logo-300086);
        }
    }
    .jazz-logout{
        position: absolute;
        top:0;
        right:0;

    }
}

.clearfix {
  zoom: 1;
  &:after {
    clear:both;
    display:table;
    content:"";
  }
}

.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  transform: @transform;
}

.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  transition: @transition;
}
.select-dropdownmenu{
  min-width:110px ;
  float:right;
  margin-left: 5px;
}
.jazz-dataselectpanel{
  display: flex;
  .jazz-dataselectpanel-button{
    width:25px;
    height:48px;
    border:solid 2px gray;
    vertical-align:middle;
    margin-top:250px
  }

}
.jazz-viewableTextField{
  .jazz-viewableTextField-focus,.jazz-viewableTextField-noempty{
    label{
      transform: scale(0.75) translate(0, -20px) !important;
      font-size: 20px;
    }
    input{
      text-align: center;
      height: 32px !important;
      line-height: 32px !important;
      padding: 0px !important;
    }
    height: 32px !important;
    line-height: 32px !important;
  }
  label{
    transform: scale(1) translate(0, 0) !important;
  }
  display:inline-block;
  position: relative;
  >div{
    > hr:first-of-type {
      border-bottom: 0px solid #434d5e !important;
      bottom: 0px !important;
    }
    >div{
      >div{
        bottom:5px !important;
        position:relative !important;
      }
    }
  }
  .jazz-viewable-title{
    font-size:14px;
    color: @propTitle;
    margin-bottom:6px;
  }
  .jazz-viewable-value{
    font-size:16px;
    color: @propValue;
    word-break: break-all;
  }
}

.jazz-month-picker{
  .jazz-month-picker-focus,.jazz-month-picker-noempty{
    label{
      transform: scale(0.75) translate(0, -20px) !important;
      font-size: 20px;
    }
    input{
      text-align: center;
      height: 32px !important;
      line-height: 32px !important;
      padding: 0px !important;
      color: white !important;
      font-size: 14px !important;
    }
    hr:first-of-type {
      border-bottom: 1px solid #434d5e !important;
      bottom: 0px !important;
    }
    hr:nth-of-type(2){
      border-bottom: 0px solid #434d5e !important;
      bottom: 0px !important;
    }
    height: 32px !important;
    line-height: 32px !important;
  }
  display:inline-block;
  position: relative;
}
input:focus{
  background-color:yellow;
  border-color: transparent
}

.jazz-hierarchybutton-paper{

        position: absolute;
        left:0;
        top:100%;
        background-color: white;
        z-index: 1;
        width:350px;
        height:500px;
        flex: 1;
        display: flex;
        flex-direction: column;


    }

    .jazz-form-field-title{
      display: inline-block;
      width: 120px;
      vertical-align: top;
    }

    .jazz-form-text-field-label{
      display: inline-block;
      width: 120px;
      vertical-align: top;
      margin-top: 20px;
    }
.jazz-year-selector_dropdownmenu_nounderline{
  >div:first-of-type{
    div:nth-child(5){
      border-top-width: 0px !important;
    }
  }
}
