.jazz-energy-conservation-measuresItem{
  width:74%;
  padding:15px 30px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  &:hover{
    border: 2px solid @schneiderBlue
  }
  .name{
    border-bottom: 1px solid @schneiderGray;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .side{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;

    .image{
      width:150px;
      height:100px;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center center
    }
  }
}
