.jazz-complex-measuresItem{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.jazz-energy-conservation-measuresItem{
  overflow: hidden;
  flex:1;
  margin-top:21px;
  margin-left: 10px;
  margin-right: 15px;
  border: 1px solid @border-gray;
  border-radius: 2px;
  &:hover{
    border-radius: 2px;
    box-shadow: 0 0 9px 1px #e0e0e0;
    cursor: pointer;
  }
  .name{
    padding: 13px 20px 13px 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: @ultra-light-gray;
    .measuresItem-title{
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      text-align: left;
      color: @slate-grey;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .side{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }
  .name .side {
    white-space: nowrap;
    overflow: hidden;
  }
  .measuresItem-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 29px 19px 20px 15px;
    background-color: #ffffff;
    .image{
      width:146px;
      height:97px;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center center;
      border-radius: 3px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
.jazz-ecm-mainpanel{
  display: flex;
  flex:1;
  position: relative;
  background-color: #f3f5f7;
  flex-direction: column;
  &-content{
    width: 100%;
    display: flex;
    // align-items:  center;
    // flex-direction: column;
    flex:1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.jazz-ecm-tab-title{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.jazz-ecm-tabs{
        padding:10px 0;
        margin:0 20px;
        border-bottom: 1px solid @border-gray;
        display: flex;
        justify-content: center;
        min-height: 30px;
        >span{
          .pointer;
          margin-right:15px;
          font-size: 14px;
          color:@medium-gray;
          line-height: 30px;
          text-align: center;
          height: 30px;
          width: 72px;
          min-width: 72px;
          &.selected {
              color:@dark-gray;
              border-radius: 2px;
              background-color: #ffffff;
              box-shadow: 0 0 2px 2px rgba(209, 209, 209, 0.5);
          }
        }
    }

.jazz-ecm-notPush{
  margin: 0 auto;
  margin-top: 23px;
    min-width: 1024px;
    max-width: 1440px;
    width: 75%;
  display: flex;
  flex-direction: column;
  >.action{
    min-height: 25px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-right:15px;
  }
  .content{
    flex:1;
    // overflow-y: auto;
    margin-bottom:15px;
  }
}

.jazz-ecm-push{
  margin-top: 6px;
   margin: 0 auto;
    min-width: 1024px;
    max-width: 1440px;
    width: 75%;
  display: flex;
  flex-direction: column;
  &-tabs{
    .f14;
    margin-left: 25px;
    color: @dark-gray;
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 12px;
    height:30px;
    min-height: 30px;
    border-bottom: 1px solid @light-gray;
    // justify-content: space-between;
    &-tab {
        .pointer;
        // width:70px;
        // min-width:70px;
        padding: 0 10px;
        box-sizing: border-box;
        margin-right:30px;
        color:#9fa0a4;
        &.selected {
            color: @normal-black;
            border-bottom:2px solid @medium-green;
            font-weight: 500;
            line-height: 1.5;
        }
    }
  }
  .content{
    flex:1;
    // overflow-y: auto;
    margin-bottom:15px;
    .row{
      margin-top:15px;
      .label{
        padding-top: 10px;
        margin-bottom: -14px;
        margin-left: 40px;
        font-size:14px;
        color:@dark-gray
      }
    }
  }
  &-operation{
    display:flex;
    flex-direction: row;
    // margin-top: 15px;
    min-height: 36px;
    // align-items: center;
    // justify-content: space-between;
    padding-top: 19px;
    padding-bottom:40px;
    // border-bottom: 1px solid @border-gray;
    &-label{
      font-size: 14px;
      color:#333333
    }
  }
}

.jazz-ecm-measure{
  &-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    border-bottom: 1px solid @schneiderGray;
    padding-bottom: 10px;
    margin-top:10px;
  }
  &-problem{
    margin-top:28px;
    .name{
      font-size: 16px;
      padding-left: 3px;
      margin-left: 3px;
      line-height: 16px;
      font-weight: 500;
      color:@normal-black;
      border-left: 2px solid @medium-green;
    }
    .row{
      margin-top:16px;
      .label{
        font-size:12px;
        color:@medium-gray
      }
    }
  }
  &-solution-iconrow{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top:4px;
  }
  &-viewabletext{
    word-wrap:break-word;
    word-break:break-all;
    margin-top: 5px;
    font-size: 14px;
    line-height: 24px;
    color:@slate-grey;
    >div{
      font-size: 14px;
      line-height: 24px;
      color:@slate-grey;
    }
  }
}
.measure-status{
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.measure-remark{
  margin-top:40px;
  .title{
    display: flex;
    align-items: baseline;
    .name{
      font-size: 16px;
      font-weight: 500;
      color:@normal-black;
    }
    .addBtn{
      margin-left: 10px;
      font-size:12px;
      color:#abafae;

      }
      .active{
        &:hover{
          color:@medium-green;
          cursor: pointer
        }
      }
  }
  .remarkItem{
    margin-top:26px;
    .text{
      font-size: 14px;
      color:@slate-grey;
      word-wrap:break-word;
      word-break:break-all;
    }
    .info{
      display: flex;
      margin-top:5px;
      .time_name{
        font-size: 13px;
        color:@medium-gray;
        display: flex;
      }
      .delete{
        margin-left: 10px;
        font-size: 14px;
        text-decoration:underline;
        &:hover{
          color:@medium-green;
          cursor: pointer;
        }
      }
    }
  }
}
.add_remark_item{
  // margin-top:15px;
  .text-field{
    margin-top:20px;
                        .text{
                                width: 770px;
                                height: auto;
                                min-height: 88px;
                                border-radius: 2px;
                                background-color: #ffffff;
                                border: solid 1px #e6e6e6;
                        }

                        
                }
}
.disappareitem{
  // height:180px;
  width:100%;
  // min-height: 180px;
  position: relative;
}

.alarm-text{
    padding:0 12px;
  height: 23px;
  border-radius: 2px;
  background-color: rgba(255,77,77,0.1);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 11px;
  color: #ff4d4d;
}
.solution-select{
  margin-left:30px;
  &-box{
  width: 100px;
  height: 28px;
  border: solid 1px #e6e6e6;
  padding:0 11px 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
  &-text{
    font-size:14px; 
    color:#626469;
  }
}
&-paper{
  width: 150px;
  max-height: 172px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 rgba(0, 0, 0, 0.12);
  padding:8px 0;

  &-item{
    width:150px;
    height:32px;
    padding-left: 24px;
    line-height: 32px;
    font-size: 14px;
    color: #666666;
    &:hover{
      background-color: #f2f2f2;
      cursor: pointer
    }
  }

  >.selected{
    color: #32ad3c;
  }
}
}

 .solution-edit{
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        padding-bottom: 100px;
        background-color: #ffffff;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:10;

        .content-field{
            margin: 0 auto;
            min-width: 1024px;
            max-width: 1440px;
            width: 75%;

            >button{
                position:absolute !important;
                top:16px;
                right:50px;    
            }

            .solution-head{
                    height:69px;
                    line-height:69px;
                    border-bottom:1px solid #e6e6e6;
                    font-size: 24px;
                    font-weight: 500;
                    color: #0f0f0f;
            }
             }
 }   
.solution-footer{
  position:fixed;
  bottom: 0px;
  height: 50px;
  background-color: #fbfbfb;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  z-index:10;
  >.action{
            margin: 0 auto;
            min-width: 1024px;
            max-width: 1440px;
            width: 75%;
            // padding:0 20px;
            display: flex;
            flex-direction: row;
            align-items: center
  }
}

.push-panel-solution{
  &-header{
    height:50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid #e6e6e6;
    &-title{
      display: flex;
      align-items: center;
      >.font{
              font-size: 24px;
              font-weight: 500;
              color: #0f0f0f;
              margin-left:12px;
      }
      >.create-user{
        font-size: 16px;
        color: #626469;
        margin-left:12px
      }

    }
    &-operation{
      display: flex;
      >div{
        display: flex;
        font-size: 16px;
        color: #626469;
        cursor: pointer;
        align-items: center;

      }

    }
  }
}

.solution-content {
  display: flex;
  flex-direction: column;


  & .session-container {
    margin-bottom: 50px;
    width: 770px;
    &:first-of-type {
      margin-top: 20px;
    }
    &:last-of-type {
      margin-bottom: 20px;
    }

    .flex-bar {
      display: flex;
    }

    .field-wrapper {
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }
  }
}

