.jazz-complex-measuresItem{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.jazz-energy-conservation-measuresItem{
  flex:1;
  margin-top:21px;
  margin-left: 10px;
  margin-right: 15px;
  border: 1px solid @border-gray;
  border-radius: 2px;
  &:hover{
    border-radius: 2px;
    box-shadow: 0 0 9px 1px #e0e0e0;
    cursor: pointer;
  }
  .name{
    padding: 13px 20px 13px 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: @ultra-light-gray;
    .measuresItem-title{
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      text-align: left;
      color: @slate-grey;
    }
  }
  .side{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .measuresItem-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 29px 19px 20px 15px;
    background-color: #ffffff;
    .image{
      width:146px;
      height:97px;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center center;
      border-radius: 3px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
.jazz-ecm-mainpanel{
  display: flex;
  flex:1;
  position: relative;
  background-color: #f3f5f7;
  flex-direction: column;
  &-content{
    min-width: 1024px;
    // width: 74%;
    padding: 0 13%;
    display: flex;
    // align-items:  center;
    // flex-direction: column;
    flex:1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.jazz-ecm-tab-title{
  display: flex;
  justify-content: center;
}
.jazz-ecm-tabs{
        padding:14px 0;
        margin:0 20px;
        border-bottom: 1px solid @border-gray;
        display: flex;
        justify-content: center;
        min-height: 36px;
        >span{
          .pointer;
          margin-right:4px;
          font-size: 14px;
          color:@medium-gray;
          line-height: 31px;
          text-align: center;
          width: 72px;
          height: 31px;
          &.selected {
              color:@dark-gray;
              border-radius: 2px;
              background-color: #ffffff;
              box-shadow: 0 0 2px 2px rgba(209, 209, 209, 0.5);
          }
        }
    }

.jazz-ecm-notPush{
  margin-top: 23px;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .action{
    min-height: 25px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .content{
    flex:1;
    // overflow-y: auto;
    margin-bottom:15px;
  }
}

.jazz-ecm-push{
  margin-top: 6px;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  &-tabs{
    .f14;
    margin-left: 25px;
    color: @dark-gray;
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    height:30px;
    min-height: 30px;
    border-bottom: 1px solid @light-gray;
    // justify-content: space-between;
    &-tab {
        .pointer;
        width:70px;
        min-width:70px;
        box-sizing: border-box;
        margin-right:50px;
        &.selected {
            color: @normal-black;
            border-bottom:2px solid @medium-green;
            font-weight: 500;
            line-height: 1.5;
        }
    }
  }
  .content{
    flex:1;
    // overflow-y: auto;
    margin-bottom:15px;
    .row{
      margin-top:15px;
      .label{
        padding-top: 10px;
        margin-bottom: -14px;
        margin-left: 40px;
        font-size:14px;
        color:@dark-gray
      }
    }
  }
  &-operation{
    display:flex;
    flex-direction: row;
    // margin-top: 15px;
    min-height: 28px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 23px;
    // border-bottom: 1px solid @border-gray;
    &-label{
      font-size: 12px;
      color:@medium-gray
    }
  }
}

.jazz-ecm-measure{
  &-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    border-bottom: 1px solid @schneiderGray;
    padding-bottom: 10px;
    margin-top:10px;
  }
  &-problem{
    margin-top:28px;
    .name{
      font-size: 16px;
      padding-left: 3px;
      margin-left: 3px;
      line-height: 16px;
      font-weight: 500;
      color:@normal-black;
      border-left: 2px solid @medium-green;
    }
    .row{
      margin-top:16px;
      .label{
        font-size:12px;
        color:@medium-gray
      }
    }
  }
  &-solution-iconrow{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top:4px;
  }
  &-viewabletext{
    word-wrap:break-word;
    word-break:break-all;
    margin-top: 5px;
    font-size: 14px;
    line-height: 24px;
    color:@slate-grey;
    >div{
      font-size: 14px;
      line-height: 24px;
      color:@slate-grey;
    }
  }
}
.measure-status{
  display: flex;
  align-items: center;
  font-size: 12px;
  align-items: baseline;
}

.measure-remark{
  margin-top:21px;
  .title{
    display: flex;
    align-items: baseline;
    .name{
      font-size: 16px;
      font-weight: 500;
      color:@normal-black;
    }
    .addBtn{
      margin-left: 10px;
      font-size:12px;
      color:#abafae;

      }
      .active{
        &:hover{
          color:@schneiderBlue;
          cursor: pointer
        }
      }
  }
  .remarkItem{
    margin-top:26px;
    .text{
      font-size: 14px;
      color:@slate-grey;
      word-wrap:break-word;
      word-break:break-all;
    }
    .info{
      display: flex;
      margin-top:5px;
      .time_name{
        font-size: 13px;
        color:@medium-gray;
        display: flex;
      }
      .delete{
        margin-left: 10px;
        font-size: 14px;
        text-decoration:underline;
        &:hover{
          color:@schneiderBlue;
          cursor: pointer;
        }
      }
    }
  }
}
.add_remark_item{
  // margin-top:15px;
}
.disappareitem{
  height:180px;
  width:100%;
  min-height: 180px;
  position: relative;
}
