.person{
  margin-top:-5px;
  .indetail{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .labelitem{
      font-size: 12px;
  }
}

.person-list{
  >div{
    overflow-x: hidden;
  }
}

.person-item{
  display: flex;
  flex-direction: row;
  width:200px;
  height:30px;
  justify-content:space-between;
  align-items: center;
  color:@normal-black;
  padding-left: 20px;
  &-sys{
    display: flex;
    flex-direction: row;
    width:200px;
    height:33px;
    justify-content:space-between;
    align-items: center;
    color: @light-gray;
    font-size: 12px;
    padding-left: 20px;
  }
  &.selected{
    border-left:2px solid @life-green;
  }
  .name{
    font-size: 12px;
  }
  .operate{
    display: none;
  }
  .edit{
    padding:0 5px;
    font-size: 12px;
    color:@normal-black;
    text-decoration:underline;
    &:hover{
      color: #3dcd58;
      cursor: pointer;
    }
  }
  .delete{
    .edit;
    border-left: 1px solid black;
  }
  &:hover{
    cursor: pointer;
    background-color: rgba(203,203,203,0.4);
    .operate{
      display: block;
    }
  }
}
.add{
  line-height:47px;
  height:47px;
  border-top:1px solid @border-gray;
  display: flex;
  font-size: 14px;
  color:@life-green;
  margin-left: 20px;
  &:hover{
    cursor: pointer;
  }
}
.supervisor-window{
  >ul{
    list-style-type: none;
    >li{
      margin-top:10px
    }
  }
}
