.person{
  margin-top:-5px;
  .indetail{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .labelitem{
      font-size: 12px;
  }
}

.person-item{
  display: flex;
  flex-direction: row;
  width:200px;
  height:30px;
  justify-content:space-between;
  align-items: center;
  color:black;
  &-sys{
    display: flex;
    flex-direction: row;
    width:200px;
    height:30px;
    justify-content:space-between;
    align-items: center;
    color: @schneiderGray;
    font-size: 12px;
  }
  &.selected{
    background-color: @hoverGray;
  }
  .name{
    font-size: 12px;
  }
  .operate{
    display: none;
  }
  .edit{
    padding:0 5px;
    font-size: 14px;
    text-decoration:underline;
    &:hover{
      color: #3dcd58;
      cursor: pointer;
    }
  }
  .delete{
    .edit;
    border-left: 1px solid black;
  }
  &:hover{
    cursor: pointer;
    background-color: @hoverGray;
    .operate{
      display: block;
    }
  }
}
.add{
  font-size: 14px;
  text-decoration:underline;
  line-height:40px;
  &:hover{
    color: @schneiderBlue;
    cursor: pointer;
  }
}
.supervisor-window{
  >ul{
    list-style-type: none;
    >li{
      margin-top:10px
    }
  }
}
