.icon-schneider-style {
  position: relative;
  width:80px;
  height:40px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  padding-left:10px;
  >div{
      position: absolute;
      font-size: 80px;
      top:-15px;
      z-index: 0;

  }
}
