.jazz-report-leftpanel-container{
   display: flex;
   flex-direction: column;
   width:320px;
}
.jazz-report-leftpanel-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 32px;
  height: 32px;
  background-color: #86ccff;
}
.jazz-report-leftpanel-reportlist{
  overflow: auto;
  flex:1;
  background-color: rgb(53, 64, 82);
}
.jazz-report-grid-tr-item{
  padding: 5px 43px;
  cursor: pointer;
  span{
    display: block;
  }
  border-top:1px solid #434d5e;
  background-color: rgb(53, 64, 82);
  color: #ffffff;
  font-size: 14px;
}
.jazz-report-grid-tr-item:hover{
  background-color: #2d3645;
}
.jazz-report-grid-tr-item-selected{
  background-color:#2d3645 !important;
}
.jazz-report-data-container{
  display: flex;
  flex-direction: column;
}
