.jazz-report-loading{
  display: flex;
  flex: 1;
}
.jazz-report-leftpanel-container{
   display: flex;
   flex-direction: column;
   width:320px;
}
.jazz-report-leftpanel-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 32px;
  height: 32px;
  background-color: #86ccff;
}
.jazz-report-leftpanel-sort{
  background-color: rgb(53, 64, 82);
  height: 40px;
  min-height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  display: flex;
  border-bottom:1px solid #434d5e;
  >div{
    div:first-of-type{
      div:nth-of-type(3){
        border-top:none !important;
      }
      >svg{
        right: 29px !important;
        top: 8px !important;
      }
    }
  }
}
.jazz-report-leftpanel-reportlist{
  overflow: auto;
  flex:1;
  background-color: rgb(53, 64, 82);
}
.jazz-report-grid-tr-item{
  padding: 10px 18px;
  cursor: pointer;
  border-bottom:1px solid #434d5e;
  background-color: rgb(53, 64, 82);
  font-size: 14px;
  height: 40px;
}
.jazz-report-grid-tr-item:hover{
  background-color: #2d3645;
}
.jazz-report-grid-tr-item-selected{
  background-color:#2d3645 !important;
}
.jazz-report-rightpanel-container{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.jazz-report-rightpanel-header{
  display: flex;
  flex-direction: column;
  min-height: 130px;
  border-bottom: 1px solid #ececec;
  .jazz-report-rightpanel-title{
    padding: 12px 30px;
    display: flex;
    flex-direction: column;
    .pop-viewable-value{
      >span{
        font-size: 22px!important;
      }
    }

  }
}
.jazz-report-rightpanel-body{
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  background-color: #fbfbfb;
  .jazz-report-rightpanel-template{
    padding: 25px 30px;
    margin: 0 auto;
    &-title{
      margin-bottom: 10px;
    }
    &-download-button{
       > button{
        border: none !important;
        background-color: transparent!important;
        &:hover{
          color:@schneiderBlue!important;
          background-color: '#e1fcff'!important;
        }
       }
    }
  }
  .jazz-report-rightpanel-add{
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-top: 1px solid #ececec;
    >div{
      padding-top: 5px;
    }
    &-text{
      font-size: 14px;
      margin-top: 8px;
    }
    &-button{
      margin-left: 101px;
      > button{
       border: none !important;
       background-color: transparent!important;
       &:hover{
         color:@schneiderBlue!important;
         background-color: '#e1fcff'!important;
       }
      }
    }
  }
  .jazz-report-rightpanel-data{
    display: flex;
    flex-direction: column;
  }
}
.jazz-report-rightpanel-footer{
  height:56px;
  background-color:white;
  z-index:5;
  bottom:0;
  opacity:0.9;
  left:320px;
  right:10px;

  &.transition {
  	.transition(all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms);
  }
  border-top: 1px solid #ececec;

	&-content {
		height:100%;
	    button{
	      height: 100%;
	      border: 1px solid #ececec;
	      span{
	          padding: 0 54px !important;
	      }
	    }
	}

	&-content &-btn {

		height: 100%;
		button{
	    height: 100%;
	    border: 1px solid #ececec;
	    span{
	       padding: 0 54px !important;
	    }
		}
	}

	&-hide {
		display: none;
	}
}
.jazz-report-data-content{
  display: flex;
  flex-direction: column;
  margin: 0 20px 15px 20px;
  padding-left: 10px;
  background-color: #f4f4f4;
  width: 800px;
  .jazz-report-data-delete{
    padding: 10px 0px 15px 0px;
    display: flex;
    flex-direction: row;
    margin-top: -15px !important;
    &-button{
      > button{
       border: none !important;
       background-color: transparent!important;
       &:hover{
         color:@schneiderBlue!important;
         background-color: '#e1fcff'!important;
       }
      }
    }
  }
  .jazz-report-data-datasource-button{
     > button{
      border: none !important;
      background-color: transparent!important;
      margin-left: -16px!important;
      &:hover{
        color:@schneiderBlue!important;
        background-color: '#e1fcff'!important;
      }
      >div{
        >span{
          font-size:16px!important;
        }
      }
     }
  }
}
.jazz-report-data-container{
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  >span{
    font-size: 14px!important;
    color: #abafae!important;
    margin-bottom: 6px!important;
  }
  .jazz-report-data-timerange{
    display: flex;
    flex-direction: row;
    .pop-viewableDropDownMenu-ddm{
      div:nth-of-type(2){
        >div{
          padding-right: 5px !important;
          padding-left: 12px !important;
        }
      }
    }
    .jazz-full-border-datepicker-container{
      >div{
        background-color: transparent !important;
        border: 0px !important;
        top:-5px;
        input{
          font-size: 16px!important;
        }
      }
    }
  }
  .pop-viewableTextField-noempty label{
    color: #abafae!important;
    font-size:18px!important;
  }
}
.jazz-data-tag-select-window{
  >div{
    >div:first-of-type{
      >div{
        max-width: 900px!important;
      }
    }
  }
}
.jazz-report-data-radiobutton{
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  >div{
    width: 240px !important;
  }
}
.jazz-report-data-checkbox{
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  >div{
    width: 240px !important;
  }
}
.jazz-report-data-direction{
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}
.jazz-report-data-direction-time{
  background: url(./images/report-layout.png) no-repeat 0 0;
  height: 113px;
  width: 110px;
  margin-right: 10px;
}
.jazz-report-data-direction-time-selected{
  background: url(./images/report-layout.png) no-repeat 0 -226px;
  height: 113px;
  width: 110px;
  margin-right: 10px;
}
.jazz-report-data-direction-time-disabled{
  background: url(./images/report-layout.png) no-repeat 0 -339px;
  height: 113px;
  width: 110px;
  margin-right: 10px;
}
.jazz-report-data-direction-tag{
  background: url(./images/report-layout.png) no-repeat -110px 0;
  height: 113px;
  width: 110px;
}
.jazz-report-data-direction-tag-selected{
  background: url(./images/report-layout.png) no-repeat -110px -226px;
  height: 113px;
  width: 110px;
}
.jazz-report-data-direction-tag-disabled{
  background: url(./images/report-layout.png) no-repeat -110px -339px;
  height: 113px;
  width: 110px;
}
.jazz-report-taglist-container-left{
   display: flex;
   width: 380px;
   flex-direction: column;
   flex: 1;
   border: 1px solid #d9d9d9;
   overflow: hidden;
   .jazz-report-tag-checkbox{
     width: 45px;
     >div{
       padding-top: 3px;
     }
   }

   .jazz-report-taglist-tagselect{
     width: 380px;
     display: flex;
     height: 78px;
     min-height: 78px;
     flex-direction: column;
     div{
       color:#000000 !important;
     }
     .header{
       min-height:32px;
       width:100%;
       background-color: #efefef;
       display:flex;
       flex-flow:row nowrap;
       align-items:center;
       div{
         color:#000000!important;
         margin-top: 0px;
       }
       .jazz-hierarchybutton{
         position: static !important;
         .tree-node {
           &.selected {
             background-color: @hoverGray !important;
           }
           &:hover {
             background-color: @hoverGray !important;
             // color:#d9d9da !important;
           }
         }
       }
     }
     .filter{
       display:flex;
       flex-flow: row nowrap;
       margin-top: 0px;
       border-color:#e4e7e9 transparent;
       background-color: #fbfbfb;
       width:100%;
       min-height:46px;
       .search{
         flex:1;
         display:flex;
         flex-flow:row nowrap;
         min-height:26px;
         border:1px solid #e4e7e6;
         margin:9px 10px 9px 10px;
         .input{
           >hr{
             border-bottom-color:transparent !important;
           }
         }
       }
       .dropdownmenu{
         margin-top: -4px;
         >div:first-of-type{

           div:nth-child(3){
             padding-left:10px !important
           }
           svg{
             right:10px !important;
           }
           div:nth-child(5){
             border-top-width: 0px !important;
           }
         }
         div:nth-child(2){
           z-index:10 !important;
           min-width:140px;
           right:0
         }
       }
     }
   }
}
.jazz-report-taglist-container-right{
  display: flex;
  width: 380px;
  flex-direction: column;
  flex: 1;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}
.jazz-report-tag-item-left{
  display: flex;
  flex-direction: row;
  height:30px;
  line-height: 30px;
  padding-left: 7px;
  >div:nth-of-type(1){
    width: 45px;
    >div{
      padding-top: 3px;
    }
  }
  >div:nth-of-type(2){
    //width: 150px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  >div:nth-of-type(3){
    width: 150px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.jazz-report-tag-item-left:hover{
  background-color: #f5f5f5;
}
.jazz-report-tag-item-right{
  display: flex;
  flex-direction: row;
  height:30px;
  padding-left: 7px;
  line-height: 30px;
  >div:nth-of-type(1){
    width: 45px;
  }
  >div:nth-of-type(2){
    width: 150px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
  }
  >div:nth-of-type(3){
    width: 150px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
  }
}
.jazz-report-tag-item-right:hover{
  background-color: #f5f5f5;
}
.jazz-report-taglist{
  overflow: auto;
  flex: 1;
}
.jazz-template-container{
  margin-top: -16px;
  position: relative;
  flex: 1;
  display: flex;
  background-color: white;
  flex-direction: column;
  overflow: auto;
}
.jazz-template-topbar{
    height: 72px;
    min-height: 72px;
    background-color: white;
    border-bottom: 1px solid #ececec;
    > .jazz-template-header{
        min-width: 1024px;
        width: 74%;
        margin: 0 auto;
        height: 72px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        > .jazz-template-topbar-left{
          display: flex;
          flex: 1;
        }

        > .jazz-template-topbar-right{
          display: flex;
        }

        .jazz-template-action{
          margin-right: 10px;
          .jazz-template-sort{
            min-width:88px;
            max-width: 200px;
            height:36px;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            display: flex;
            >div{
              height: 36px !important;
              transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
              box-sizing:border-box;
              -webkit-tap-highlight-color:rgba(0,0,0,0);
              box-shadow:0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
              border-radius:2px;
              display:inline-block;
              >div:first-child
              {
                div:nth-of-type(2){
                  opacity: 1 !important;
                }

                div:nth-of-type(3){
                  font-size: 14px !important;
                  top: 0px !important;
                  opacity: 1 !important;
                  padding-left: 10px !important;
                  line-height: 36px !important;
                  overflow:hidden;
                  white-space:nowrap;
                }
                svg{
                  right: 9px !important;
                  top: 4px !important;
                }
                svg+div{
                  border-top-width: 0px !important;
                }
              }
              div:nth-of-type(2){
                >div{
                  padding-right: 5px !important;
                }
              }
            }
          }
          .jazz-template-upload-button{
            background-color:#ffffff;
            transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
            box-sizing:border-box;
            font-family:Lantinghei sc,Microsoft YaHei Light,Microsoft YaHei;
            -webkit-tap-highlight-color:rgba(0,0,0,0);
            box-shadow:0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
            border-radius:2px;
            display:inline-block;
            min-width:88px;
            height:36px;
            cursor: pointer;
            &:hover{
              background-color: rgba(235,235,235,1)
            }
            .jazz-template-upload-label{
              display: block;
              height:100%;
              width:100%;
              position:relative;
              opacity:1;
              font-size:14px;
              letter-spacing:0;
              text-transform:uppercase;
              font-weight:500;
              margin:0;
              padding:0px 16px;
              -webkit-user-select:none;
              line-height:36px;
              color:rgba(0, 0, 0, 0.87);
            }
          }
        }
    }
}
.jazz-template-content{
  flex: 1;
  overflow: scroll;
  background-color: #fbfbfb;
  .jazz-template-comment{
    min-width: 1024px;
    width: 74%;
    margin: 0 auto;
    font-size: 14px;
    color:@schneiderGray;
    margin-top:10px;
  }
  .jazz-template-center{
    min-width: 1024px;
    width: 74%;
    margin: 0 auto;

    .jazz-template-user-info {
      >a{
        color:  @schneiderGray;
        margin-right: 6px;
        font-size: 14px;
        text-decoration: none;
        position: relative;
        &:hover > ul{
            display:block;
        }
      }

      ul{
        border: 1px solid @schneiderGray;
        list-style-type: none;
        display: none;
        background-color: #fbfbfb;
        opacity: 1;
        padding: 10px;
        position: absolute;
        z-index: 99;
        li{
            margin-bottom: 8px;
            color: black;
        }
      }
    }
  }
}


.jazz-template-list{
  margin-top: 25px;
  &:first-child{
    border-top:1px solid #eee;
  }
}
.jazz-template-item{
  height:50px;
  border-bottom:1px solid #eee;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding:5px;
  &:hover{
    background-color: #ececec;
  }

  &-right{
    display: flex;
    flex: 5;
    flex-direction: column;
    justify-content: center;
    &-name{
      font-size: 14px;
      width: 900px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: @schneiderBlack;
      &:hover{
        color: @schneiderBlue;
        cursor: pointer;
      }
    }
    &-user{
      margin-top:10px;
      font-size:12px;
      color: @schneiderGray;
      &-info{
        > a{
          font-size:12px !important;
        }
      }
    }
  }
  &-left{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;

    &-action{
      display: flex;
      font-size: 14px;
      color: @schneiderBlack;
      &:hover{
        color:@schneiderBlue;
      }
      > button{
        border: none !important;
        background-color: transparent!important;
        &:hover{
          color:@schneiderBlue!important;
        }
      }
      .jazz-template-item-text{
        margin-right: 20px;
      }
    }

    &-action-warning{
       > a{
         &:hover{
           color:@warningRed;
         }
       }
    }
  }
}
.report-right-btn {
  padding-left: 30px;
  padding-top: 14px;
}
