.jazz-save-effect {
	display: flex;
	flex-direction: column;
	align-items: center;

	& .header {
		width: 85%;
		height: 48px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-create {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #f3f5f7;
		z-index: 1;
		display: flex;
		flex-direction: column;

		& .icon-close {
			position: fixed;

			&:before {
				font-size: 18px;
			}
		}

		& .create-block {
			margin: 0 20px 20px;
			border: solid 1px @border;
			background-color: #ffffff;
		}

		& .step1 {
			&-header {
				height: 50px;
				line-height: 50px;
				border-bottom: 1px solid @border;
				padding: 0 15px;
			}
			&-content {
				padding: 20px 15px;

				& .tag-configed {
					margin-left: 40px;
					color: @medium-gray;
					line-height: 24px;
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
		}

		& .step2 {
			&-wrapper {
				display: flex;
				flex: 1;
			}
			&-side {
				width: 260px;
				margin-right: 0px;

			}
		}
	}
}