.jazz-save-effect {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex:1;
	background-color: #f3f5f7;
	& .header {
		display: flex;
		flex-direction: row;
		padding: 16px 0;
		justify-content: center;
		width: calc(~'100% - 40px');
		margin:0 auto;
		border-bottom: 1px solid @border;
		>div{
			display: flex;
			flex-direction: row;
			>div:first-child{
				margin-right: 15px;
			}
		}
		.tab{
			min-height: 30px;
  		height: 30px;
			line-height: 30px;
			text-align: center;
			padding:5px 15px;
			font-size: 14px;
  		color: @medium-gray;
			&:hover{
				cursor: pointer;
			}
		}
		.active{
			min-height: 30px;
  		height: 30px;
			line-height: 30px;
			text-align: center;
			padding:5px 15px;
  		border-radius: 2px;
  		background-color: #ffffff;
  		box-shadow: 0 0 2px 2px rgba(209, 209, 209, 0.5);
			font-size: 14px;
 			color: @slate-grey;
		}
	}

	&-create {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #f3f5f7;
		z-index: 1;
		display: flex;
		flex-direction: column;

		& .icon-close {
			position: fixed;

			&:before {
				font-size: 18px;
			}
		}

		& .date-picker-inline {
			position: relative;

			& .datepicker-popup {
				z-index: 1;
				position: absolute;
				bottom: 0;
			}
		}

		& .create-block {
			margin: 0 20px 20px;
			border: solid 1px @border;
			background-color: #ffffff;
		}

		& .step1 {
			&-header {
				height: 50px;
				line-height: 50px;
				border-bottom: 1px solid @border;
				padding: 0 15px;
			}
			&-content {
				padding: 20px 15px;

				& .tag-configed {
					margin-left: 40px;
					color: @medium-gray;
					line-height: 24px;
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
		}

		& .step2 {
			&-wrapper {
				display: flex;
				flex: 1;
			}
			&-side {
				width: 260px;
				margin-right: 0px;
				&-header {
					height: 50px;
					line-height: 50px;
					font-size: 16px;
					border-bottom: 1px solid @border;
					padding: 0 15px;
				}
				&-content {
					padding: 15px;

					& .date-picker-inline {
						display: inline-block;
					}

					& .pop-viewableTextField {
						margin-bottom:5px;

						& .pop-viewable-title {
							margin-bottom: 0;
						}
					}

					& .tip-message {
						font-size: 12px;
						text-align: left;
						color: @red;
					}
				}
			}
			&-content {
				flex: 1;
				display: flex;
				flex-direction: column;

				&-header {
					height: 50px;
					font-size: 16px;
					border-bottom: 1px solid @border;
					padding: 0 15px;
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				&-content {
					padding: 0 15px 20px;
					flex: 1;
					display: flex;
					flex-direction: column;
					font-size: 14px;
					color: #505559;

					& .diagnose-create-content {
						display: flex;
						align-items: center;
						margin-top: 0;
					}
				}
			}
		}
	}
}
