.jazz-selectable-item{
  min-height:58px;
  height:58px;
  // border-bottom: 1px solid #434d5e;
  background-color: #ffffff;
  padding-left: 18px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .label{
    width:295px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color:@slate-grey;
  }
  .text{
    width:295px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color:#adb0b8;
    margin-top: 5px;
  }
  &:hover{

    .label{
      color: #32ad3d !important;
    }
    .text{
      color: #32ad3d !important;
    }
  }
  &.isSelected{
    background-color: #32ad3d;
    // color: #ffffff !important;
    position: relative;
    .label{
      color: #ffffff !important;
    }
    .text{
      color: #ffffff !important;
    }
    &:before {
    content: '';
    height: 100%;
    position: absolute;
    width: 4px;
    background-color: #25842e;
    left: 0px;
    top: 0px;
  }
}
}
