.jazz-setting-basic-date{
  width: 120px; float: left; height: 30px;
}
.jazz-setting-basic-yearpicker{
  height: 30px;
}
.jazz-setting-basic-datespan{
  width: 34px; float: left; heigh: 32px; line-height: 32px; vertical-align:middle; text-align: center;
}
.jazz-setting-basic-container{
  height:600px;
  margin-left: 20px;
}
.jazz-setting-basic-content{
  height:400px;
  overflow: auto;
  display: flex;
  flex-flow: row;
  font-size:14px;
}
.jazz-setting-container{
  height: 428px;
  margin-top: 24px;
  margin-left: 35px;
  margin-bottom: 24px;
}
.jazz-setting-content{
  height: 400px;
  overflow: auto;
  display: flex;
  flex-flow: column;
}
.jazz-setting-alarm-input{
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
}
.jazz-setting-button{
  width: 50px;
}
.jazz-setting-alarm-margin{
  margin-top: 18px;
  margin-bottom: 18px;
}
.jazz-setting-alarm-tip{
  font-size: 12px;
  color: #abafae;
}
.jazz-setting-baseline-margin{
  margin-top: 18px;
  margin-bottom: 10px;
}
.jazz-setting-basic-calbutton{
  font-size: 14px;
  color:#1ca8dd;
  text-decoration:underline;

}
.jazz-setting-basic-caldetail{
  margin-top: 24px;
  display:flex;
  flex-flow: column;
  margin-left: auto;
  .workdaytitle{
    color:#abafae;
    font-size: 14px;
  }
  .workdaycontent{
    color:#767a7a;
    font-size: 16px;
    margin:20px 0 5px 0;
  }
  .workday{
    display: flex;
    flex-flow: row;
    color:#767a7a;
    font-size: 16px;
    line-height:26px;
    .font{
      margin-left:3px;
    }
  }
  .worktimetitle{
    color:#abafae;
    font-size: 14px;
    margin-top:45px;
  }
  .worktimecontent{
    color:#767a7a;
    font-size: 16px;
    margin:20px 0 5px 0;
  }
  .worktime{
    display: flex;
    flex-flow: row;
    color:#767a7a;
    font-size: 16px;
    line-height:26px;
    .time{
      display: flex;
      flex-flow: row wrap;
      width:200px;
      margin-left: 3px;
      .timecontent{
        margin-right:10px
      }
    }
  }
}
.jazz-tabs{
  >div:first-of-type{
      >div:nth-child(2){
        background-color:#1ca8dd !important
      }

  }
}
.jazz-setting-basic-edit{
  display:flex;
  flex-flow:row;
  margin:10px 0;
  align-items:center;
  color:#767a7a
}
.jazz-setting-basic-editbutton{
  width:100px;
  font-size:14px;
  color:#767a7a;
  background-color:transparent;
  border: 1px solid #e4e7e6
}
.jazz-setting-basic-calcsetting{
  font-size: 14px;
  margin: 18px 0;
  padding:9px;
  border:1px solid #efefef;
  //width: 410px;
  height:150px;
  overflow:auto;
  display: flex;
  table{
    border:solid #adafaf;
    border-width:1px 0px 0px 1px;
    border-spacing: 0;
  }
  td{
    border:solid #adafaf;
    border-width:0px 1px 1px 0px;
    height:29px;
    padding:0 20px;
    text-align: center;
  }
}
