.jazz-setting-basic-date{
  width: 120px; float: left; height: 30px;
}
.jazz-setting-basic-yearpicker{
  height: 30px;
}
.jazz-setting-basic-datespan{
//  width: 34px;
//  float: left;
//  heigh: 32px;
//  line-height: 32px;
  font-size: 14px;
  margin-top:7px;
  margin-left:10px

}
.jazz-setting-basic-container{
  height:600px;
  margin-left: 20px;
}
.jazz-setting-basic-content{
  height:400px;
  overflow: auto;
  display: flex;
  flex-flow: row;
  font-size:14px;
  color:#767a7a
}
.jazz-setting-basic-year{
  hr{
    border-bottom-width: 0px !important;
  }
  .pop-viewableDropDownMenu-ddm{
    border: 1px solid #efefef;
    height: 32px !important;
    top: 2px!important;
    >div:first-child
    {
      >div:nth-of-type(2){
        opacity: 1 !important;
      }

      >div:nth-of-type(3){
        font-size: 14px !important;
        top: 0px !important;
        opacity: 1 !important;
        padding-left: 10px !important;
        line-height: 32px !important;
        overflow:hidden;
        white-space:nowrap;
        max-width:58px;
      }
      svg{
        right: 9px !important;
        top: 4px !important;
      }
      svg+div{
        border-top-width: 0px !important;
      }
    }
    div:nth-of-type(2){
      >div{
        padding-right: 5px !important;
      }
    }
  }
}
.jazz-setting-basic-calbutton{
  font-size: 14px;
  color:#1ca8dd;
  text-decoration:underline;
  cursor: pointer;

}
/**
//
// .jazz-alrm-chart-dropdownmenu{
//   >div:nth-child(2){
//     max-height: 208px;
//     overflow-y: scroll !important;
//   }
// }
**/
.jazz-setting-alarm-container{
  height: 398px;
  margin-top: 24px;
  margin-left: 20px;
  margin-bottom: 24px;
}
.jazz-setting-alarm-content{
  height: 374px;
  overflow: auto;
  display: flex;
  flex-flow: column;
  font-size: 14px;
  color:#767a7a
}
.jazz-setting-input{
  >hr{
    border-bottom-color:transparent !important;
  }
  >div:nth-child(2){
    display: none !important;
  }
}
.jazz-setting-alarm-threshold{
  margin-top: 12px;
  margin-bottom: 12px;
}
.jazz-setting-alarm-text{
  margin-top: 15px;
  margin-bottom: 15px;
}
.jazz-setting-alarm-tip{
  font-size: 12px;
  color: #abafae;
}
.jazz-setting-alarm-checkbox{
  display: flex;
  flex-flow: row;
  div{
    div{
      div{
        margin-right: 0px !important;
      }
    }
  }
}
.jazz-setting-baseline-container{
  height: 424px;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 24px;
}
.jazz-setting-baseline-content{
  height: 398px;
  overflow: auto;
  display: flex;
  flex-flow: column;
  font-size:14px;
  color:#767a7a
}
.jazz-setting-baseline-margin{
  margin-top: 12px;
  margin-bottom: 6px;
  height: 20px;
}
.jazz-setting-daytimeSelector{
  >div:nth-child(2){
    max-height: 208px;
    overflow-y: scroll !important;
  }
}
.jazz-setting-basic-caldetail{
  margin-top: 24px;
  display:flex;
  flex-flow: column;
  margin-left: auto;
  .workdaytitle{
    color:#abafae;
    font-size: 14px;
  }
  .workdaycontent{
    color:#767a7a;
    font-size: 16px;
    margin:20px 0 5px 0;
  }
  .workday{
    display: flex;
    flex-flow: row;
    color:#767a7a;
    font-size: 16px;
    line-height:26px;
    .font{
      margin-left:3px;
    }
  }
  .worktimetitle{
    color:#abafae;
    font-size: 14px;
    margin-top:45px;
  }
  .worktimecontent{
    color:#767a7a;
    font-size: 16px;
    margin:20px 0 5px 0;
  }
  .worktime{
    display: flex;
    flex-flow: row;
    color:#767a7a;
    font-size: 16px;
    line-height:26px;
    .time{
      display: flex;
      flex-flow: row wrap;
      width:200px;
      margin-left: 3px;
      .timecontent{
        margin-right:10px
      }
    }
  }
}
.jazz-tabs{
  >div:first-of-type{
      >div:nth-child(2){
        // width:100%;
        // background-color:#ececec !important
      }

  }
}
.jazz-setting-basic-edit{
  display:flex;
  flex-flow:row;
  margin:10px 0;
  align-items:center;
  color:#767a7a
}
.jazz-setting-basic-editbutton{
  width:80px;
  height:30px;
  font-size:14px;
  color:#767a7a;
  background-color:transparent;
  border: 1px solid #e4e7e6;
  margin-right:10px;
    &:hover{
      color:#1ca8dd
    }
   &.disabled{
     &:hover{
       color:#767a7a;
     }
   }
}
.jazz-setting-basic-calcsetting{
  font-size: 14px;
  margin: 18px 0;
  padding:9px;
  border:1px solid #efefef;
  //width: 410px;
  height:150px;
  overflow:auto;
  display: flex;
  table{
    border:solid #adafaf;
    border-width:1px 0px 0px 1px;
    border-spacing: 0;
  }
  td{
    border:solid #adafaf;
    border-width:0px 1px 1px 0px;
    height:29px;
    padding:0 20px;
    text-align: center;
  }
}
.jazz-setting-basic-clear{
  clear: both;
  margin-top:14px;
  >div{
    >div{
      >div{
        margin-right:10px !important
      }
      >label{
        color:#767a7a !important
      }
    }
  }
}
.jazz-setting-basic-firstline{
  display:flex;
  flex-flow:row;
  align-items:center;
  margin-top:15px;
}
.jazz-setting-basic-datepicker-container{
  margin-left: 10px;
  height: 38px;
  background-color: #ffffff;
  >div{
    cursor: pointer;
    border: 1px solid rgb(235, 235, 235);
    >div{
      >input{
        cursor: pointer;
        font-size: 14px !important;
      }
      >hr{
        border-bottom-width: 0px !important;
      }
    }
  }
}
