.jazz-setting-basic-date{
  width: 120px; float: left; height: 30px;
}
.jazz-setting-basic-yearpicker{
  height: 30px;
}
.jazz-setting-basic-datespan{
  width: 50px; float: left;
}
.jazz-setting-basic-container{
  height:600px;
}
.jazz-setting-basic-content{
  height:500px;
  overflow: auto;
}
