.jazz-tag-loading{
  display: flex;
  flex: 1;
}
.jazz-tag-leftpanel{
   display: flex;
   flex-direction: column;
   width:320px;
   &-header{
     padding: 0 30px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     min-height:32px;
     height:32px;
     background-color: #86ccff;
   }
}
