.jazz-tag-loading{
  display: flex;
  flex: 1;
}
.pointer{
  cursor: pointer;
}
.jazz-tag-leftpanel{
  display: flex;
  flex-direction: column;
  width:320px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 8;
  &-header{
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height:32px;
    height:32px;
    background-color: #ffffff;
    color: @medium-gray;
    border-bottom: 1px solid @border-gray;
    span {
      font-size: 14px !important;
    }
    label {
      height: 22px;
    }
    &-item{
      .pointer;
      padding:0 5px;
      &-icon {
        padding-right: 8px;
      }
      &:hover {
        background-color: #DDDDDD;
      }
    }
  }
  .jazz-tag-list{
    overflow: auto;
    flex:1;
    background-color: #ffffff;
  }
  .jazz-tag-pagination{
    background-color: #ffffff;
    color: @slate-grey;
    .buttonBar{
      // border-top: 1px solid #434d5e !important;
      .pre-btn,.next-btn,.jump-btn{
        color: @dark-gray !important;
        &:hover {
          background-color: #dddddd;
        }
      }
      .jump-text{
        color: @dark-gray !important;
      }
    }
  }
}
.jazz-tag-disabled{
    color: rgba(255, 255, 255, 0.298039) !important;
    &-icon {
      padding-right: 8px;
    }
}
.jazz-tag-search-filter-bar{
  .jazz-search-filter-bar{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    color: @slate-grey;
    .jazz-search{
      display:flex;
      flex-flow: row nowrap;
      margin-top: 0px;
      border-color:#e4e7e9 transparent;
      width:260px;
      min-height:46px;
      .jazz-dataselectmainpanel{
        margin-top: 0px;
        width: 260px;
        display: flex;
        flex-direction: column;
        .search{
          flex:1;
          display:flex;
          flex-flow:row nowrap;
          min-height:26px;
          border:1px solid @border-gray;
          margin:9px 10px 9px 10px;
          .icon-search{
            color:@medium-gray !important;
          }
          .icon-clean{
            padding-right: 5px!important;
          }
          div{
            color:@medium-gray !important;
          }
          .input{
            >hr{
              border-bottom-color:transparent !important;
            }
            >input{
              color:@slate-grey !important;
              padding-left: 5px!important;
            }
          }
        }
      }
    }
    .jazz-filter{
      display: flex;
      align-items: center;
      span {
        font-size: 14px !important;
      }
      &-item{
        .pointer;
        &-icon {
          padding-right: 8px;
        }
        &:hover {
          color: @textWhiteHover;
        }
      }
    }
  }
}
.jazz-tag-formula-content{
  display: flex;
  flex:1;
  flex-direction: column;
  overflow: hidden;
  &-top{
    display: flex;
    flex-direction: column;
    height: 120px;
    min-height: 120px;
    &-input{
      margin-top: 10px;
      .pop-viewableTextField{
        display: flex;
        flex: 1;
        .pop-viewable-value{
          display: flex;
          flex: 1;
        }
        >div{
          height: 90px!important;
          display: flex;
          flex: 1;
          .pop-viewableTextField-noempty,.pop-viewableTextField-focus{
            flex:1;
            >div:nth-of-type(1){
              font-size: 12px!important;
              margin-left: 10px;
              bottom: 18px!important;
              >div:nth-of-type(3){
                >hr:nth-of-type(2){
                  border-bottom-width: 0px !important;
                }
              }
            }
            >div:nth-of-type(2){
              height: 90px!important;
              border: 1px solid #e7e7e8!important;
              background-color: #ffffff!important;
              overflow-y: auto;
              overflow-x: hidden;
              >textarea:nth-of-type(2){
                margin-top: 6px!important;
                padding-left: 10px!important;
                overflow: hidden!important;
                color: #464949!important;
              }
            }
            >div:nth-of-type(3){
              bottom: 0px!important;
              >hr:nth-of-type(1){
                border-bottom: 0px!important;
              }
              >hr:nth-of-type(2){
                border-style: none!important;
              }
            }
            >hr:nth-of-type(1){
              border-bottom: 0px!important;
            }
            >hr:nth-of-type(2){
              border-style: none!important;
            }
          }
        }
      }
    }
  }
  &-taglist{
    flex:1;
    display:flex;
    flex-direction: column;
    overflow: auto;
    &-top{
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      min-height: 40px;
      font-size: 14px;
      color: #abafae;
      &-text{
        margin-top: 12px;
      }
    }
    &-content{
      display: flex;
      flex: 1;
      overflow: auto;
    }
  }
}
.jazz-tag-monitor-background{
  background-color: #fbfbfb;
  padding-right: 2px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.jazz-formula-monitor-tag{
  flex: 1;
  overflow: auto;
  font-size:14px;
  color:#464949;
  &-content{
    &-list{
      height:40px;
      min-height: 40px;
      border-bottom: 1px solid @listBorder;
      display: flex;
      &:hover{
        background-color:@hoverGray;
      }
    }
    &-item{
      flex:1;
      align-items: center;
      line-height: 40px;
      width:295px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &-paging{

  }
}
.jazz-ptag-rawdata{
    display: flex;
    flex:1;
    flex-direction: column;
    &-toolbar{
      display:flex;
      flex-direction:row;
      justify-content: space-between;
    align-items: stretch;
    width:100%;
      .leftside{
        display: flex;
        flex-direction:row;
        align-items:center;
        .switch-accumulated{
          display: flex;
          flex-direction:row;
          .label{
            font-size: 12px;
            color:#464949
          }
        }
        .jazz-full-border-datepicker{
          >div:nth-of-type(2){
            margin-left:4px;
          }
          >span{
            margin-left:-8px
          }
          }
      }
      .rightside{
        margin-right: -30px;
        display: flex;
      }
    }
    &-pauseMonitor{
      margin-top:-14px;
      .subTitile{
        font-size: 14px;
        color:#abafae
      }
      .ruleName{
        font-size: 14px;
        color:#464949;
        margin-top:24px;
        margin-bottom: 10px;
      }
    }
    &-comment{
      display: flex;
      .item{
        margin-right:48px;
        .normal-circle{
          width: 8px;
          height: 8px;
          background-color: #11d9db;
          -webkit-border-radius: 4px;
        }
        .abnormal-circle{
          width: 8px;
          height: 8px;
          background-color: #f46a58;
          -webkit-border-radius: 4px;
        }
        .repair-circle{
          width: 8px;
          height: 8px;
          background-color: #cfa9ff;
          -webkit-border-radius: 4px;
        }
        .label{
          font-size: 12px;
          color:#464949;
          margin-left: 5px
        }
      }
    }
}
.drawer_wrap >div >div{
  overflow: unset!important;
}
.jazz-ptag-rawdata-list{
  width:320px;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left:1px solid #ececec;
  .top-title{
    height:40px;
    font-size: 16px;
    line-height: 40px;
    color: #333333;
    padding:0 12px;
    background-color: #f4f5f8;
    box-shadow: 0 1px 0 0 #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    .text{
      float: left;
    }
    .cancelBtn{
      cursor: pointer;
      float: right;
    }
  }
  .buttonGroup{
    text-align: center;
    height: 40px;
    button >div{
      span{
        color: #32ad3c;
         &:hover{
          color: #3dcd58;
        }
      }
    }
  }
  .title{
    height:40px;
    min-height:28px;
    background-color: #32ad3c;
    color:#ffffff;
    display: flex;
    width: 100%;
    align-items: center;
    padding-left:20px
  }
  .veetitle{
    height:40px;
    min-height:28px;
    background-color: #f4f5f8;
    color:#ffffff;
    display: flex;
    box-shadow: 0 1px 0 0 #e6e6e6;
    width: 100%;
    align-items: center;
    padding-left:12px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
  .date{
    display: flex;
    align-items: center;
    padding-left: 20px;
    height:40px;
    min-height:40px;
    color:#464949;
    background-color: #e4e7e9;
    font-size: 14px;
    border-bottom: 1px solid #e4e7e9;
    box-sizing: border-box;
  }
  .veedate{
    height:40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #999999;
    box-sizing: border-box;
  }
  .list{
    overflow-y: visible;
    overflow-x: hidden;
  }
}
.jazz-ptag-rawdata-list-item{
  height: 40px;
  width:320px;
  display: flex;
  align-items: center;
  font-size:14px;
  color:#464949;
  padding-left: 20px;
  border-bottom:1px solid #e4e7e9;
  background-color: #ffffff;
  box-sizing: border-box;
  &.selected{
    background-color:#f4f4f4
  }
  &:hover{
    background-color:#f4f4f4
  }
  // 重写icon-edit样式
  .icon-edit{
    font-size: 14px!important;
    width: 14px;
    height: 15px;
    &:hover{
      cursor: pointer;
      color:#32ad3c!important;
    }
  }
  .line-data-wrap{
    text-align: left;
    position: relative

  }
}
.jazz-ptag-panel{
  display: flex;
  flex: 1;
  position: absolute;
  top: 74px;
  bottom:0;
}
.jazz-ptag-left-fold{
  left: 0;
  .form-bottom-bar{
    left:0;
    // .transition(all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms);
  }
}
.jazz-ptag-left-expand{
  left: 320px;
}
.jazz-ptag-right-fold{
    right: 0;
}
.jazz-ptag-right-expand{
    right: 320px;
}
.jazz-tag-log-item-fileName{
  width:300px;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
.ptag-date-picker{
  .date-picker-inline{
        position: relative;
        .datepicker-popup{
          position: absolute;
          z-index:20;
        }
  }
}
.errortips{
  position: absolute;
  bottom: 40px;
  color: red;
  width:168px;
  font-size: 12px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  padding: 4px 8px;
  text-align: center;
  left: -42px;
    &:before {
      content: '';
      width: 6px;
      height: 6px;
      bottom: -5px;
      position: absolute;
      border-right: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      transform: rotateZ(45deg);
      background-color: #fff;
      left: 85px;
  }
}
// 在线/离线btn显示
.offlineBtn{
  position: absolute;
  left: 435px;
  color: #32ad3c;
  font-size: 12px;
  border: 1px solid #32ad3c;
  padding: 2px 8px;
  bottom: 5px;
  cursor: pointer;
}
.line-drawer-ul{
  height: 100%;
  .drawer-time{
    display: inline-block;
    margin-right: 8px;
  }
  li{
    font-size: 14px;
    color: #666666;
    border-bottom: 1px solid #e6e6e6;
    padding: 8px 12px;
    &:hover{
      background-color: #f2f2f2;
    }
  }
  .none-info-tips{
    display: flex;
    height: 100%;
    color: #666;
    font-size:14px;
    justify-content: center;
    vertical-align: middle;
    align-items: center
  }
}

.basic_property{
  .tagbasicline{
    display: flex;
    height: 88px;
    border-bottom: 1px solid #e6e6e6;
    &:first-child{
      border-bottom: none;
    }
    >div{
      width:236px;
      margin-right: 20px;
      p{
        &:first-child{
          font-size: 14px;
          color: #9fa0a4;
        }
      }
      .content{
        color: #333333;
        font-size: 14px;
      }
    }
  }
  .basicline{
    margin-bottom: 16px;
    line-height: 28px;
    .title{
      font-size: 14px;
      color: #9fa0a4;
    }
    .content{
      color: #333333;
      font-size: 14px;
    }
  }
  .lastline{
    height: 88px;
    p{
      &:first-child{
        font-size: 14px;
        color: #9fa0a4;
      }
    }
    .content{
      color: #333333;
      font-size: 14px;
    }
  }
}
