.jazz-normal-hierarchybutton-container{
  .jazz-hierarchybutton{
    .hiername{
      color: black;
    }
  }
}
.jazz-hierarchybutton{
    position: relative;
    * {
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
    .hiername{
      font-size:16px;
      color:#ffffff;
      margin-left:20px;
      max-width: 136px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:hover{
        text-decoration:underline;
      }
    }
    }
    .jazz-ranking-hierarchybutton{
        position: relative;
        * {
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }
        .hiername{
          font-size:16px;
          color:#ffffff;
          margin-left:20px;
          max-width: 250px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          &:hover{
            text-decoration:underline;
          }
        }
        }
.jazz-dimbutton{
        position: relative;
        * {
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }
        .dimname{
          font-size:16px;
          color:#ffffff;
          max-width: 136px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          &.active{
            &:hover {
              text-decoration:underline;
            }
          }

        }
        }
.jazz-hiersearch-type{
  font-size:14px !important;
  color:rgb(152,152,152);
  margin:7px 7px 0 0;
}
.jazz-dataselectmainpanel{
  margin-top:-16px;
          width:320px;
          //margin-top: -46px;
          display: flex;
          flex-direction: column;
        //  flex:1;
          .header{
            min-height:48px;
            width:100%;
            background-color: #1ca8dd;
            display:flex;
            flex-flow:row nowrap;
            align-items:center
          }
          .filter{
            display:flex;
            flex-flow: row nowrap;
            border-width:1px;
            border-style:solid;
            border-color:#e4e7e9 transparent;
            width:100%;
            min-height:46px;
            .search{
              flex:1;
              display:flex;
              flex-flow:row nowrap;
              min-height:26px;
              border:1px solid #e4e7e6;
              margin:9px 0px 9px 20px;
              .input{
                width:auto !important;
                >hr{
                  border-bottom-color:transparent !important;
                }
              }
            }
          .dropdownmenu{
            margin-top: -4px;
            >div:first-of-type{

              div:nth-child(3){
                padding-left:10px !important
              }
              svg{
                right:10px !important;
              }
              div:nth-child(5){
                border-top-width: 0px !important;
              }
            }
            div:nth-child(2){
              z-index:10 !important;
              min-width:140px;
              right:0
            }
          }
          }
        }
.allcheck{
  display: flex;
  flex-flow: row;
  align-items: center;
  min-height:46px;
  border-width:1px;
  border-style:solid;
  border-color: transparent;
  border-bottom-color:#e4e7e9;
  cursor: pointer;
  div{
    div{
      div{
        margin-right:10px !important
      }
    }
  }
  }
.taglist{
  min-height:46px;
  border-width:1px;
  border-style:solid;
  border-color: transparent;
  border-bottom-color:#e4e7e9;
  display: flex;
  flex-flow: row;
    div>first-of-type{
      display:flex !important
    }
  align-items: center;
.label{
  display: flex;
  flex-flow: column;
  margin-left: -5px;
  .title{
    display: inline-block;
    font-size: 14px;
    color:#464949;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 240px
  }
  .font{
    display:inline-flex;
    .able{
     font-size:12px;
     color:#464949
    }
    .disable{
      font-size:12px;
      color:#abafae
    }
}
}

  &.selected{
    background-color:#f4f4f4
  }
  &:hover{
    background-color:#f4f4f4
  }

}
.tree_search{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  width:258px;
  height:26px;
  border:1px solid #e4e7e6;
  margin:9px 20px 12px 20px;
  .input{
    >hr{
      border-bottom-color:transparent !important;
    }
  }
}
.tree-field{
  overflow:auto;
  height:341px
}
.jazz-search{
  display: block;
}
.jazz-searchtype{
  width:15%;
  height:100%;
  margin:7px 7px 0 7px;
}
.jazz-searchmenu{
  box-shadow:null !important;
}
.jazz-search-nodetype{
  width:50px;
  color:#abafae;
  font-size:14px;
  display: flex;
  justify-content: flex-end;
  margin-right:6px;
  margin-top:17px

}
.jazz-searchmenuitem{
display:flex;
flex-flow:row;
line-height:32px;
padding-left:16px;
width:282px;
&:hover{
background-color: #eaebec;
}
}
.jazz-search-divider{
  width:56px;
  height:350px;
  border-right:1px solid #abafae;
  position:fixed;
  top:150px;
}
.jazz-hiersearch-nodename{
  margin-left:6px;
  font-size:14px;
  color:#767a7a;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 210px
}
.jazz-dimsearch-nodename{
  margin-left:6px;
  font-size:14px;
  color:#767a7a;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 260px
}
.jazz-search-dimmuenuitem{
  font-size:14px;
  line-height:32px
}
.jazz-ranking-hierview-header{
  margin:10px 0 0 16px;
  display:flex;
  flex-direction:row;
}
