.jazz-vee-rule-null-item{
  display: flex;
  flex-direction: column;
  border-bottom: @detail-boder-gray 1px solid;
  padding:8px 0;
}
.jazz-vee-rule-null-rule{
  display: flex;
flex-direction: column;
  margin-left: 40px;
}
.jazz-checkbox-label{
  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
    color: #767a7a;
    font-size: 14px;
    &.disabled {
        color: fade( #000, 29.8039);
    }
    &-comment {
      margin-left: 40px;
      margin-top:10px;
      color:#abafae;
      font-size: 14px;
    }
}
.jazz-vee-rule-setting-subheader{
  margin-top:25px;
  color:#abafae;
}
.jazz-vee-textfeild-comment{
  color:#464949;
  margin-top:10px;
  font-size: 14px;
}
.jazz-vee-monitor-tag-background{
  background-color: #fbfbfb;
  flex: 1;
  display:flex;
  overflow: hidden;
  flex-direction: column;
}
.jazz-vee-monitor-tag-header{
  height: 35px;
  min-height: 35px;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  border-bottom: 1px solid @listBorder;
  border-top: 1px solid @listBorder;
  &-item{
    font-size:14px;
    color:@schneiderGray;
    flex:1;
    display: flex;
    align-items: center;
  }
}
.jazz-vee-monitor-tag{
  flex: 1;
  overflow: auto;
  font-size:14px;
  color:#464949;
  &-content{
    &-list{
      height:40px;
      min-height: 40px;
      border-bottom: 1px solid @listBorder;
      display: flex;
      &:hover{
  background-color:@hoverGray;
}
    }
    &-item{
      flex:1;
      display: flex;
      align-items: center;
    }
    &-operation-item{
      flex:1;
      cursor: pointer;
      display: flex;
      align-items: center;
      color:#767a7a;
      &:hover{
        color:@schneiderBlue!important;
      }
    }
  }
  &-paging{

  }
}
.jazz-vee-monitor-tag-title{
  font-size: 14px;
  color:#abafae
}
.jazz-vee-monitor-tag-addcontent{
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding: 10px;
  height: 90px;
  min-height:90px;
  overflow: auto;
  margin-top:10px;
}
.jazz-vee-monitor-tag-hintMsg{
  font-size: 14px;
  color:@schneiderGray;
}
.jazz-vee-monitor-tag-selectfiled{
  display: flex;
  flex:1;
  flex-direction: column;
  &-header{
    display: flex;
    flex-direction: row;
    margin-top:50px;
    height:20px;
    min-height: 20px;
    justify-content: space-between;
  }
  &-list{
  display: flex;
  flex:1;
  flex-direction: column;
  margin-top:10px;
  }
  &-allcheck{
    display: flex;
    flex-direction: row;
    .name{
      flex:1;
      font-size: 14px;
      color:#464949;
      white-space: nowrap;
    }
  }
}
.jazz-vee-tag-search-filter-bar{
  margin-top:-10px;
  .jazz-search-filter-bar{
    display: flex;
    flex-direction: row;
    background-color: #fbfbfb;
    .jazz-search{
      display:flex;
      flex-flow: row nowrap;
      margin-top: 0px;
      border-color:#e4e7e9 transparent;
      width:200px;
      min-height:46px;
      .jazz-dataselectmainpanel{
        margin-top: 0px;
        width: 200px;
        display: flex;
        flex-direction: column;
        .search{
          flex:1;
          display:flex;
          flex-flow:row nowrap;
          min-height:26px;
          border:1px solid #e4e7e6;
          margin:9px 10px 9px 10px;
          .input{
            >hr{
              border-bottom-color:transparent !important;
            }
          }
        }
      }
    }
    .jazz-filter{
      display: flex;
      align-items: center;
      color: #767a7a;
      span {
        font-size: 14px !important;
      }
      &-item{
        .pointer;
        &-icon {
          padding-right: 8px;
        }
        &:hover {
          color: @schneiderBlue;
        }
      }
    }
  }
}
.jazz-monitorTag-item{
  .hiddenEllipsis;
  max-width: 184px;

}
