.jazz-vee-rule-null-item{
  display: flex;
  flex-direction: column;
  border-bottom: @detail-boder-gray 1px solid;
}
.jazz-vee-rule-null-rule{
  display: flex;
flex-direction: column;
  margin-left: 40px;
}
